.input-close-icon {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}
