@import "../../wiof-custom-theming.scss";

.aqi-good {
    background-color: rgb(0, 228, 0);
    color: black;
  }
  
  .aqi-moderate {
    background-color: rgb(255, 255, 0);
    color: black;
  }
  
  .aqi-unhealthy-for-sensitive {
    background-color: rgb(255, 156, 0);
    color: black;
  }
  
  .aqi-unhealthy {
    background-color: rgb(255, 0, 0);
    color: white;
  }
  
  .aqi-very-unhealthy {
    background-color: rgb(143, 63, 151);
    color: white;
  }
  
  .aqi-hazardous {
    background-color: rgb(126, 0, 35);
    color: white;
  }
  
  .aqi-na{
    background-color: white;
    color: black;
  }
  
  .card-not-aqi{
    background-color:#E0CAF5;
    color: black;
  }


//adding scroll to search results

.wiof-aqi-widget-items{
  height:228px;
}

.wiof-aqi-widget-items [scrolly=true] {
    position: relative;
    overflow: hidden;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }

.wiof-aqi-widget-items[scrolly=true] {
    overflow-y: auto;
  }

.wiof-aqi-search-result-expand{
  cursor:pointer;
}
