<ion-grid *ngIf="aqiData$ | async as aqiData" class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <ion-card >
        <ion-card-content class="aqi-data-card">
          <ion-row>
            <ion-col>
              <p class="aqi-station-name">
                Station: {{ aqiData.city.name | titlecase }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="aqi-level-card" [ngClass]="aqiColor(aqiData.aqi)">AQI : {{ aqiData.aqi }}</p>
            </ion-col>
            <ion-col>
              <p class="dominent-pollutant">
                Dominent Pollutant: {{ aqiData.dominentpol | uppercase }}
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Parameters data -->
  <div scrollY="true" class="wiof-aqi-widget-items">
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let parameter of getAqiParameters(aqiData.iaqi)"
      >
        <ion-card class="card-non-aqi">
          <ion-card-header style="padding: 0px;">
            <p class="aqi-parameter">
              {{ parameter[0] | uppercase }}
            </p>
          </ion-card-header>
          <ion-card-content>
            <p class="aqi-parameter-value">
              {{ parameter[1].v | number: "1.0-2" }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-padding">
          Data Credit:&nbsp;<a
            href="https://waqi.info/"
            target="_blank"
            class="data-credit"
            >World Air Quality Index project</a
          >
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
