<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isEditMode">{{ pageContent.addInFocusTitle }}</ion-title>
    <ion-title *ngIf="isEditMode">{{ pageContent.editInFocusTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" fill="solid" size="large" (click)="onSubmit()"
        >{{ pageContent.saveLabel }}</ion-button
      >
      <ion-button
        color="medium"
        fill="clear"
        size="large"
        routerLink="/admin-dashboard/manage-in-focus"
        >{{ pageContent.cancelLabel }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addInFocusForm">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.titleLabel}}</ion-label
            >
            <ion-input formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="8"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.subTitleLabel}}</ion-label
            >
            <ion-input formControlName="subTitle"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.descriptionLabel}}</ion-label
            >
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.categoryLabel}}</ion-label
            >
            <ion-select formControlName="category">
              <ion-select-option
                [value]="category"
                *ngFor="let category of categories"
                >{{ category }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.videoLinkLabel}}</ion-label
            >
            <ion-input formControlName="videoLink"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.knowMoreLinkLabel}}</ion-label
            >
            <ion-input formControlName="knowMoreLink"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.submitDateLabel}}</ion-label
            >
            <ion-input disabled [value]="inFocus.submitDate | date"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.publishDateLabel}}</ion-label
            >
            <ion-input
              disabled
              [value]="inFocus.publishDate | date"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-md="4"
          ><ion-item>
            <ion-label position="floating"
              >{{pageContent.unpublishDateLabel}}</ion-label
            >
            <ion-input
              disabled
              [value]="inFocus.unpublishDate | date"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
