<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-sm="12" offset-md="2">
        <div *ngIf="(urlSafe)">
          <h1>{{videoTitle}}</h1>
          <iframe
            class="videoPlayer"
            [src]="urlSafe"
            allowfullscreen
          ></iframe>
          <br/>
          <ion-item-divider></ion-item-divider>
          <br/>
          <ion-text>Video Credit (Youtube Channel): {{videoChannelName}}</ion-text><br/><br/>
          <ion-text style="text-align: justify; text-justify: inter-word;">Description: {{videoDescription}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-wiof-footer></app-wiof-footer>
</ion-content>

