.videoPlayer {
  width: 90%;
  margin: 5%;
}

@media (max-width: 350px) {
  .videoPlayer {
    height: 197px;
  }
}

.video-description-content-hide {
  display: -webkit-box;
  height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggleVideoDescription {
  color: rgb(47, 128, 233);
  cursor: pointer;
}

@media (min-width: 351px) and (max-width: 575px) {
  .videoPlayer {
    height: 324px;
  }
}

@media (min-width: 576px) {
  .videoPlayer {
    height: 420px;
  }
}

.video-container {
  border-radius: 10px;
  box-shadow: lightgrey 5px 5px 25px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

//old

// @media (min-width:768px ) {
//     .videoPlayer{
//         height:478px;
//         width:850px;
//     }
// }

//Future Use for Larger Screen sizes

// @media (min-width:992px ) {
//     .videoPlayer{
//         height:480px;
//         width:853.4px;
//     }
// }

// @media (min-width:1200px ) {
//     .videoPlayer{
//         height:480px;
//         width:853.4px;
//     }
// }
