@import "../../wiof-custom-theming.scss";

.wiof-spinner {
  position: absolute;
  left: 50%;
}

.wiof-aqi-widget-card-header {
  background-color: $air-color;
}

.wiof-aqi-widget-card-toolbar {
  padding: 10px;
  background-color: rgb(229, 229, 229);
}

.aqi-level-card {
  box-shadow: 1px 1px 2px 0px #afafaf;
  border-radius: 5px;
  color: black;
  padding: 2px 5px;
  font-size: 12px;
}

.aqi-good {
  background-color: rgb(0, 228, 0);
}

.aqi-moderate {
  background-color: rgb(255, 255, 0);
}

.aqi-unhealthy-for-sensitive {
  background-color: rgb(255, 156, 0);
}

.aqi-unhealthy {
  background-color: rgb(255, 0, 0);
  color: white;
}

.aqi-very-unhealthy {
  background-color: rgb(143, 63, 151);
  color: white;
}

.aqi-hazardous {
  background-color: rgb(126, 0, 35);
  color: white;
}
