<!-- <app-aqi-scorecard [locationUrl]="'delhi'"></app-aqi-scorecard> -->

<ion-card style="height:520px;" class="wiof-aqi-widget-card-header background">
    <ion-card-header class="wiof-aqi-widget-card-header">
      <ion-card-title>
        AQI Widget
      </ion-card-title>
    </ion-card-header>
    <ion-toolbar color="air" class="wiof-aqi-widget-card-toolbar">
        <ion-button fill="outline" slot="start" (click)="loadMajorCitiesDiv()">Major Cities</ion-button>
        <ion-button fill="outline" slot="start" (click)="loadSearchLocationDiv()">Search Location</ion-button>
        <!-- future use new window aqi map view button -->
        <!-- <ion-button ><ion-icon name="browsers-outline"></ion-icon></ion-button> -->
    </ion-toolbar>
    <ion-toolbar color="air" class="wiof-aqi-widget-card-toolbar" *ngIf="!searchLocationTabSelect">
        <ion-item>
            <ion-label>Location</ion-label>
            <ion-select interface="popover" [(ngModel)]="selectedLocation" placeholder="Select Location">
              <ion-select-option *ngFor="let majorLocation of majorLocations" [value]="majorLocation">{{majorLocation|titlecase}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>

    <ion-toolbar color="air" class="wiof-aqi-widget-card-toolbar" *ngIf="searchLocationTabSelect">
        <ion-item>
            <ion-label position="floating">Enter Location</ion-label>
            <ion-input [(ngModel)]="searchLocation"></ion-input>
        </ion-item>
        <ion-button (click)="searchByLocation()">Search</ion-button>        
        <div *ngIf="searchLocationClickedFlag">
            <div scrollY="true"  class="wiof-aqi-widget-items">
                <div *ngIf="(searchLocationResults|async) as locationsFound;else loading">
                    <!-- <p> {{locationsFound.data|json}} </p> -->
                    <ion-row>
                        <ion-col size-xs="10">
                        <p><strong>Station Name (Click on location for AQI details)</strong></p>
                        </ion-col>
                        <ion-col size-xs="2">
                        <p style="text-align: center;"><strong>AQI</strong></p>                      
                        </ion-col>
                    </ion-row>   
                    <div *ngFor="let location of locationsFound.data">
                        <ion-row>
                            <ion-col size-xs="10">
                                <p class="wiof-aqi-search-result-expand" (click)="expandLocationAqiDetails(location.station.url)" >
                                <!-- (click)=expandLocationAqiDetails({{location.station.url}}) -->                        
                                {{location.station.name}}                          
                                </p>
                            </ion-col>
                            <ion-col size-xs="2">
                                <p style="text-align: center;" [ngClass]="aqiColor(location.aqi)">{{location.aqi}}</p>                      
                            </ion-col>
                        </ion-row>                  
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
    <ion-card-content>        
        <!-- <p>{{selectedMajorLocation}}</p> -->
        <!-- <div *ngFor="let majorLocation of majorLocations">
            <p >{{majorLocation}}</p>
        </div> -->
        <app-aqi-scorecard *ngIf="showAqiScorecard" [locationUrl]="selectedLocation"></app-aqi-scorecard>
    </ion-card-content>
</ion-card>