@import '../../wiof-custom-theming.scss';

.wiof-take-action {
  padding: 20px;
  margin-bottom: 350px;
  color: rgb(209, 161, 74);
}

.take-action-title {
  padding: 10px;
  margin: 0 auto;
  color: $dark-color;
  display: inline-block;
  font-size: x-large;
}

.back-button {
  padding: 5px;
  float: right;
}

.element-buttons {
  text-align: center;
}

.take-action-content-container {
  min-height: 45vh;
}

.take-action-toolbar-container {
  margin-top: 10px;
}

.tab-image {
  height: 40px;
  padding-right: 10px;
}

.tab-label {
  font-size: 18px;
}

.take-action-wrapper ::ng-deep .mat-tab-label {
  padding: 30px;
  min-width: 100px;
}

.take-action-wrapper ::ng-deep .mat-tab-label-active {
  border-radius: 15px 15px 0px 0px;
  box-shadow: 5px 10px 25px grey;
  opacity: 1;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.take-action-wrapper ::ng-deep .mat-tab-label-container {
  margin: 0 15px;
  padding-top: 15px;
}

.take-action-wrapper ::ng-deep .mat-ink-bar {
  visibility: hidden !important;
}
