.wiof-take-action {
  padding: 20px;
  margin-bottom: 350px;
  color: rgb(209, 161, 74);
}

.element-buttons{
  text-align: center;
}

.take-action-content-container{
  min-height: 45vh;
}

.take-action-toolbar-container{
  margin-top:10px;
}
