<app-header></app-header>
<ion-content class="take-action-wrapper ion-padding">
  <ion-row>
    <ion-col>
      <h1 class="take-action-title">Take Action</h1>
      <app-back-button class="back-button"></app-back-button>
    </ion-col>
  </ion-row>
  <mat-tab-group [selectedIndex]="elemetTabIndex" (selectedTabChange)="onSelectTab($event)">
    <mat-tab *ngFor="let action of actions" [ngClass]="selectedElement">
      <ng-template mat-tab-label>
        <img
          *ngIf="!isSelectedTab(action.tab.title)"
          [src]="action.tab.image"
          class="tab-image"
        />
        <img
          *ngIf="isSelectedTab(action.tab.title)"
          [src]="action.tab.selectedImage"
          class="tab-image"
        />
        <span class="tab-label">{{ action.tab.title }}</span>
      </ng-template>
      <app-take-action-content
        [actionData]="action"
        [selectedElement]="selectedElement"
      ></app-take-action-content>
    </mat-tab>
  </mat-tab-group>
  <app-wiof-footer></app-wiof-footer>
</ion-content>
