<ion-card class="wiof-ngo-in-focus-container" *ngIf="ngoInFocus">
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-row>
      <ion-col class="title-text" size="12">NGO in Focus</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="background" style="padding: 0">
    <div *ngIf="ngoInFocus; else loading">
      <ion-row>
        <ion-col size="12" size-lg="6" class="text-center">
          <img
            class="ngo-in-focus-image"
            [src]="ngoInFocus.image$ | async"
            alt=""
          />
        </ion-col>
        <ion-col size="12" size-lg="6" class="ion-padding">
          <img
            [src]="ngoInFocus.logoImage$ | async"
            class="logo"
            alt=""
          /><br />
          <h2>
            <strong>
              {{ ngoInFocus.ngoName }}
            </strong>
          </h2>
          <p class="ngo-description ion-margin-vertical">
            {{ ngoInFocus.description }}
          </p>
          <p>
            <a
              [href]="ngoInFocus.knowMoreLink"
              target="_blank"
              class="wiof-primary-link"
              >Know More</a
            >
          </p>
        </ion-col>
      </ion-row>
    </div>

    <ng-template #loading>
      <app-wiof-spinner></app-wiof-spinner>
    </ng-template>
  </ion-card-content>
</ion-card>
