@import '../../wiof-custom-theming.scss';

.wiof-slider-header {
  border-bottom: white 2px solid;
  background-color: $home-color;
  color: $home-text-color;
}

.wiof-ngo-in-focus-container {
  height: calc(100% - 20px);

  .logo {
    max-height: 60px;
    object-fit: contain;
  }

  .ngo-in-focus-image {
    max-height: 300px;
    width: 100%;
  }

  .ngo-description {
    display: -webkit-box;
    height: 110px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 15px;
    text-align: left;
  }
}
