@import '../../wiof-custom-theming.scss';

.wiof-slider-header {
  border-bottom: white 2px solid;
  background-color: $home-color;
  color: $home-text-color;
}

.wiof-ngo-in-focus-container {
  height: calc(100% - 20px);

  .logo {
    max-height: 60px;
    object-fit: contain;
  }

  .media-container {
    min-height: 330px;
    max-height: 550px;
  }

  .media-player {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
  }

  .ngo-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 20px;
    text-align: left;
  }
}
