<ion-card>
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-row>
      <ion-col class="title-text" size="12">NGO IN FOCUS</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="background">
    <div class="row">
      <div class="col-12">
        NGO Name
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="row">
          A short description providing brief details about the NGO.
        </div>
        <div class="row">
          <ion-button>Know More</ion-button>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <img src="src/assets/icons/icon_air.svg" alt="">
      </div>
    </div>
    <ng-template #loading>
      <ion-spinner name="crescent" class="wiof-spinner"></ion-spinner><br />
    </ng-template>
  </ion-card-content>
</ion-card>
