.wiof-concent-popup{
    // position: fixed;
    // bottom:0px;
    width:100%;
    background-color: #2D2D2D;
}

.wiof-concent-popup p{
    margin:0px;
    padding:5px;
    color:#fff;
}


.accept-button {
    text-align: right;
    border: 2px #fff solid;
    background-color: #2D2D2D;
    color: #fff;
    // font-size: x-large; to be used with complete message
    font-size: large;
    padding: 5px;
    border-radius: 5px;
  }

