@import '../../wiof-custom-theming.scss';

.wiof-concent-popup {
  background-color: $dark-color;
  padding: 10px;
}

.wiof-concent-popup p {
  margin: 0px;
  padding: 5px;
  color: #fff;
  display: inline-block;
}

.accept-button {
  text-align: right;
  border: 2px solid #fff;
  background-color: $dark-color;
  color: white;
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
  float: right;

  @media (max-width: 600px) {
    float: none;
  }
}
