<div class="wiof-concent-popup">
  <ion-row>
    <ion-col size-md="10" size="12">
      <!-- <p>World is One Family website places cookies on your device to give you the best user experience. By using our websites, you agree to the placement of these cookies. To learn more, read our <a [routerLink]="['/privacy-policy']">Privacy Policy</a>.</p> -->
      <p>
        By using our website, you agree to our
        <a [routerLink]="['/privacy-policy']">Privacy Policy</a>.
      </p>
    </ion-col>
    <ion-col size-md="2" size="12">
      <button class="accept-button" (click)="onAccept()">Accept & Close</button>
    </ion-col>
  </ion-row>
</div>
