@media (max-width: 800px) {
  .menu-lg-toggle {
    display: none;
  }
}
@media (min-width: 800px) {
  .menu-button-toggle {
    display: none;
  }
}

.wiof-logo{
  height: 60px; 
  width: 144px;
  cursor:pointer;
  position: absolute;
  top: -30px;
  left: 0px;
}