<ion-header>
  <ion-row>
    <ion-col class="ion-align-self-start ion-no-padding">
      <ion-toolbar class="header-padding">
        <ion-buttons class="menu-button-toggle" slot="start">
          <!-- uncomment when have to add menu and links in header-->
          <!-- <ion-menu-button>
            <ion-icon name="menu-outline" menuId="wiof-menu"></ion-icon>
          </ion-menu-button> -->
        </ion-buttons>
        <ion-title routerLink="/home">
          <img class="wiof-logo" alt="WIOF" [src]="wiofLogo" tabindex="-1" />
          <!-- </ion-img> -->
        </ion-title>
      </ion-toolbar>
    </ion-col>
    <!-- uncomment when have to add menu and links in header-->

    <!--<ion-col>
      <ion-toolbar >
        <ion-buttons slot="end">
           <ion-button>
            Lifestyle
          </ion-button>
          <ion-button>
            Environment
          </ion-button>
          <ion-button>
            Take Action
          </ion-button>
          <ion-button>
            Contribute
          </ion-button>
          
          <ion-button routerLink="/aboutus">
            About Us
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>-->
    <!-- <ion-col class="ion-align-self-end">
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
    </ion-col> -->
  </ion-row>
</ion-header>
