<div *ngIf="!showResult">
  <div
    class="eq-user-response"
    *ngFor="let question of questions; let i = index"
    [formGroup]="userResponse"
  >
    <p>{{ i + 1 }} ) {{ question }}</p>
    <ion-item>
      <ion-range
        min="1"
        max="5"
        step="1"
        [formControlName]="getFormControlName(i)"
        snaps
        color="home"
        class="ion-no-padding"
      >
        <ion-text slot="start" color="home">1</ion-text>
        <ion-text slot="end" color="home">5</ion-text>
      </ion-range>
    </ion-item>
  </div>
</div>

<div
  class="ion-text-center ion-margin-top ion-margin-bottom"
  *ngIf="!showResult"
>
  <button class="wiof-primary-button" (click)="onSubmit()">Submit</button>
  <button class="wiof-primary-button secondary" (click)="onBack()">Back</button>
</div>

<div *ngIf="showResult">
  <p class="eq-meter-heading">Your emotional intelligence is:</p>
  <ion-row class="result-box">
    <ion-col size="12" size-md="6">
      <p class="eq-meter-heading">
        Attention: {{ this.results[0] | number: '1.0-2' }}%
      </p>
      <app-eq-widget-test [gpr]="['m', '1', results[0]]"></app-eq-widget-test>
    </ion-col>
    <ion-col size="12" size-md="6">
      <p class="eq-meter-heading">
        Clarity: {{ this.results[1] | number: '1.0-2' }}%
      </p>
      <app-eq-widget-test [gpr]="['m', '2', results[1]]"></app-eq-widget-test>
    </ion-col>
    <ion-col size="12" size-md="6" offset-md="3">
      <p class="eq-meter-heading">
        Reparation: {{ this.results[2] | number: '1.0-2' }}%
      </p>
      <app-eq-widget-test [gpr]="['m', '3', results[2]]"></app-eq-widget-test>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="eq-param-desc">
      <p>Attention: {{ result1msg }}</p>
      <p>Clarity: {{ result2msg }}</p>
      <p>Reparation: {{ result3msg }}</p>
    </ion-col>
  </ion-row>
  <div class="ion-text-center ion-padding-top ion-padding-bottom">
    <button class="wiof-primary-button" (click)="showResult = false">
      Take Again
    </button>
  </div>
</div>
