<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>View Subscribers</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button color="dark" fill="clear" size="large" (click)="refreshData()"
        ><ion-icon name="refresh-outline" slot="start"></ion-icon
        >Refresh</ion-button
      ><ion-button
        color="success"
        fill="solid"
        size="large"
        (click)="addNewPoll()"
        ><ion-icon name="add-outline" slot="start"></ion-icon>Add New
        Poll</ion-button
      >
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="subscribersJson">
    <ion-row class="item-divider-line">
      <ion-col size="12" size-md="6" class="ion-align-self-center">
        <strong>Subscribers List</strong>
      </ion-col>
      <ion-col size="12" size-md="6" class="ion-align-self-center">
        <ion-button color="dark" fill="solid" (click)="generateExcel()">
          <ion-icon name="cloud-download"></ion-icon>
          Export List
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <table border="1">
          <tr>
            <th class="table-heading">Sr</th>
            <th class="table-heading">First Name</th>
            <th class="table-heading">Last Name</th>
            <th class="table-heading">Email Id</th>
            <th class="table-heading">Subscription Date and Time</th>
          </tr>
          <tr *ngFor="let subscriber of subscribersJson; let i = index">
            <td class="table-data">{{ i + 1 }}</td>
            <td class="table-data">{{subscriber.firstName|titlecase}}</td>
            <td class="table-data">{{subscriber.lastName|titlecase}}</td>
            <td class="table-data">{{subscriber.email}}</td>
            <td class="table-data" *ngIf="subscriber.datetime">
              {{subscriber.datetime}}
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
