/* Share Buttons */

.wiof-social-share-container {
  background: #fff;
  padding: 5px;
  text-align: right;

  .facebook-btn:hover {
    background-color: white;
  }
}

.wiof-social-share-container a ion-icon {
  font-size: 30px;

  @media screen and (max-width: 600px) {
    font-size: 22px;
  }

  @media screen and (min-width: 600px) and (max-width: 767px) {
    font-size: 28px;
  }
}

.wiof-social-share-container a {
  margin: 0 8px;
  transition: 500ms;
}

//   .wiof-social-share-container a:hover {
//     transform: scale(1.2);
//   }

.wiof-social-share-container #fb {
  color: #3b5998;
}

.wiof-social-share-container #tw {
  color: #1da1f2;
}

.wiof-social-share-container #li {
  color: #0077b5;
}

//   .wiof-social-share-container .fa-pinterest {
//     color: #bd081c;
//   }

.wiof-social-share-container #wa {
  color: #25d366;
}
