<div class="wiof-social-share-container">
    <ion-col>
      <a href="#" class="facebook-btn">
        <i class="fab fa-facebook"></i>
        <ion-icon id="fb" name="logo-facebook"></ion-icon>
      </a>
      <a href="#" class="twitter-btn">
        <ion-icon id="tw" name="logo-twitter"></ion-icon>
      </a>
      <a href="#" class="linkedin-btn">
        <ion-icon id="li" name="logo-linkedin"></ion-icon>
      </a>
      <a href="#" class="whatsapp-btn">
        <ion-icon id="wa" name="logo-whatsapp"></ion-icon>
      </a>
    </ion-col>
</div>

  

  
<!-- 
  <a href="#" class="pinterest-btn">
   

  </a> -->