<ion-card class="wiof-course-in-focus-container" *ngIf="courseInFocus">
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-row>
      <ion-col class="title-text" size="12">Course in Focus</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="background ion-no-padding">
    <div *ngIf="courseInFocus; else loading">
      <ion-row class="ion-padding course-details">
        <ion-col size="9">
          <h2>
            <strong
              ><a [href]="courseInFocus.link"></a
              >{{ courseInFocus.name }}</strong
            >
          </h2>
          <p><span>Offered By</span>: {{ courseInFocus.offeredBy }}</p>
          <p><span>Duration</span>: {{ courseInFocus.duration }}</p>
          <p><span>Approx. Cost: {{ courseInFocus.approxCost }}</span></p>
        </ion-col>
        <ion-col size="3">
          <img
            class="course-in-focus-image"
            [src]="courseInFocus.image$ | async"
            alt=""
          />
        </ion-col>
        <ion-col size="12">
          <p>
            <span>Key Topics</span>:
            <span
              class="topic"
              *ngFor="let topic of courseInFocus.keyTopics.split(',')"
              >{{ topic }}</span
            >
          </p>
          <p class="ion-margin-top course-description">
            {{ courseInFocus.description }}
          </p>
          <p>
            <a
              [href]="courseInFocus.link"
              target="_blank"
              class="wiof-primary-link"
              >Know More</a
            >
          </p>
        </ion-col>
      </ion-row>
    </div>

    <ng-template #loading>
      <app-wiof-spinner></app-wiof-spinner>
    </ng-template>
  </ion-card-content>
</ion-card>
