<ion-card class="wiof-course-in-focus-container">
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-row>
      <ion-col class="title-text" size="12">Course in Focus</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="background ion-no-padding">
    <div *ngIf="courseInFocus; else loading">
      <ion-row>
        <ion-col size="12" size-sm="4" size-md="12" size-lg="4">
          <img
            class="course-in-focus-image"
            [src]="courseInFocus.image$ | async"
            alt="Course in Focus"
          />
        </ion-col>
        <ion-col
          size="12"
          size-sm="8"
          size-md="12"
          size-lg="8"
          class="course-details"
        >
          <h2>
            <strong
              ><a [href]="courseInFocus.link"></a
              >{{ courseInFocus.name }}</strong
            >
          </h2>
          <p><span>Offered By</span>: {{ courseInFocus.offeredBy }}</p>
          <p><span>Duration</span>: {{ courseInFocus.duration }}</p>
          <p><span>Approx. Cost</span>: {{ courseInFocus.approxCost }}</p>
        </ion-col>
        <ion-col class="text-left" size="12" class="course-details-desc">
          <p>Key Topics: {{ courseInFocus.keyTopics }}</p>
          <p class="course-description">
            {{ courseInFocus.description }}
          </p>
          <p>
            <ion-button [href]="courseInFocus.link" target="_blank" color="home"
              >Know More</ion-button
            >
          </p>
        </ion-col>
      </ion-row>
    </div>

    <ng-template #loading>
      <app-wiof-spinner></app-wiof-spinner>
    </ng-template>
  </ion-card-content>
</ion-card>
