@import "../../wiof-custom-theming.scss";

  .wiof-slider-header {
      border-bottom: white 2px solid;
      background-color: $home-color;
      color: $home-text-color;
    }
  
    .wiof-course-in-focus-container{    
      height: calc(100% - 20px);
    }
  
    .course-description {
      display: -webkit-box;
      height: 60px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .course-in-focus-image{
        width: 100%;
    }
    
    