@import '../../wiof-custom-theming.scss';

.wiof-slider-header {
  border-bottom: white 2px solid;
  background-color: $home-color;
  color: $home-text-color;
}

.wiof-course-in-focus-container {
  height: calc(100% - 20px);
}

.course-description {
  display: -webkit-box;
  height: 70px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 5px 0px;
}

.course-in-focus-image {
  width: 100%;
  object-fit: contain;
  text-align: left;
  max-height: 200px;
  box-shadow: 2px 2px 5px;
}

.course-details {
  h2 {
    margin-bottom: 5px;
  }

  p span {
    font-weight: 500;
  }
}
