@import '../../wiof-custom-theming.scss';

.wiof-slider-header {
  border-bottom: white 2px solid;
  background-color: $home-color;
  color: $home-text-color;
}

.wiof-course-in-focus-container {
  height: calc(100% - 20px);
}

.course-description {
  display: -webkit-box;
  height: 70px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-bottom: 5px;
}

.course-in-focus-image {
  width: 100%;
  object-fit: contain;
  text-align: left;
  padding: 0;
  max-height: 200px;

  @media screen and (min-width: 575px) and (max-width: 767px) {
    padding: 15px 0 0 10px;
  }

  @media screen and (min-width: 992px) {
    padding: 15px 0 0 10px;
  }
}

.course-details {
  padding: 10px 15px 0 15px;

  p span {
    text-decoration: underline;
  }
}

.course-details-desc {
  padding: 0 15px 15px 15px;
}
