.landing-circle-img {
  border-radius: 50%;

  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;

  &.earth {
    background-image: url("../../../assets/earth.jpg");
    box-shadow: 1px 1px 5px 1px rgb(214,254,225);
    &.active {
      box-shadow: 1px 1px 12px 10px rgb(214,254,225);
    }
  }

  &.water {
    background-image: url("../../../assets/water.jpg");
    box-shadow: 1px 1px 5px 1px rgb(223,243,255);
    &.active {
      box-shadow: 1px 1px 12px 10px rgb(223,243,255);
    }
  }

  &.fire {
    background-image: url("../../../assets/fire.jpg");
    box-shadow: 1px 1px 5px 1px rgb(255,235,184);
    &.active {
      box-shadow: 1px 1px 12px 10px rgb(255,235,184);
    }
  }

  &.air {
    background-image: url("../../../assets/air.jpg");
    box-shadow: 1px 1px 5px 1px rgb(229,229,229);
    &.active {
      box-shadow: 1px 1px 12px 10px rgb(229,229,229);
    }
  }

  &.spirit {
    background-image: url("../../../assets/spirit.jpg");
    box-shadow: 1px 1px 5px 1px rgb(241,222,198);
    &.active {
      box-shadow: 1px 1px 12px 10px rgb(241,222,198);
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.landing-circle-label {
  padding-top: 5px;
  color: black;
  text-align: center;
}

/* Using SCSS variables to store breakpoints */
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 767px;

@media (max-width: $breakpoint-desktop) {
  .landing-circle-img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: $breakpoint-tablet) {
  .landing-circle-img {
    height: 50px;
    width: 50px;
  }
  .landing-circle-label {
    font-size: 80%;
  }
  .wiof-read-more {
    display: none;
  }
}
