.landing-circle-img {
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px grey;
  background-repeat: no-repeat;
  background-size: contain ;
  height: 150px;
  width: 150px;
  margin: auto;

  &.earth {
    background-image: url("../../../assets/earth.jpg");
  }

  &.water {
    background-image: url("../../../assets/water.jpg");
  }

  &.fire {
    background-image: url("../../../assets/fire.jpg");
  }

  &.air {
    background-image: url("../../../assets/air.jpg");
  }

  &.space {
    background-image: url("../../../assets/spirit.jpg");
  }

  &:hover {
    opacity: 0.8;
  }
}

.landing-circle-label {
  padding-top: 10px;
  color: white;
}

/* Using SCSS variables to store breakpoints */
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 767px;

@media (max-width: $breakpoint-desktop){
    .landing-circle-img {
        height: 120px;
        width: 120px;
    }
}
@media (max-width: $breakpoint-tablet){
    .landing-circle-img {
        height: 140px;
        width: 140px;
    }
}

