<ion-row class="ion-align-items-center">
  <ion-col
    class="ion-padding"
    size-xs="6" size-sm="2"
    offset-sm="1"
  >
    <div class="ion-text-center landing-circle-img earth" [routerLink]="['/element', 'earth']">
      <h4 class="landing-circle-label">Earth</h4>
    </div>
  </ion-col>
  <ion-col class="ion-padding" size-xs="6" size-sm="2">
    <div class="ion-text-center landing-circle-img water">
      <h4 class="landing-circle-label">Water</h4>
    </div>
  </ion-col>
  <ion-col class="ion-padding" size-xs="6" size-sm="2">
    <div class="ion-text-center landing-circle-img fire">
      <h4 class="landing-circle-label">Fire</h4>
    </div>
  </ion-col>
  <ion-col class="ion-padding" size-xs="6" size-sm="2">
    <div class="ion-text-center landing-circle-img air">
      <h4 class="landing-circle-label">Air</h4>
    </div>
  </ion-col>
  <ion-col class="ion-padding" size-xs="6" size-sm="2">
    <div class="ion-text-center landing-circle-img space">
      <h4 class="landing-circle-label">Space</h4>
    </div>
  </ion-col>
</ion-row>