.landing-circle-img {
  border-radius: 50%;
  
  background-repeat: no-repeat;
  background-size: contain ;
  height: 100px;
  width: 100px;
  margin: auto;

  &.earth {
    background-image: url("../../../assets/earth.jpg");
  }

  &.water {
    background-image: url("../../../assets/water.jpg");
  }

  &.fire {
    background-image: url("../../../assets/fire.jpg");
  }

  &.air {
    background-image: url("../../../assets/air.jpg");
  }

  &.space {
    background-image: url("../../../assets/spirit.jpg");
  }

  &:hover {
    opacity: 0.8;
  }
}

.landing-circle-label {
  padding-top: 5px;
  color: black;
  text-align: center;
}

/* Using SCSS variables to store breakpoints */
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 767px;

@media (max-width: $breakpoint-desktop){
    .landing-circle-img {
        height: 100px;
        width: 100px;
    }
}
@media (max-width: $breakpoint-tablet){
    .landing-circle-img {
        height: 50px;
        width: 50px;
    }
    .landing-circle-label {
      font-size:80%;
    }
    .wiof-read-more{
      display: none;
    }
}

