<ion-card *ngIf="blogList && blogList.length > 0">
  <ion-card-header
    class="ion-align-center wiof-slider-header"
    [ngClass]="blogSliderClass"
  >
    <ion-row>
      <ion-col><strong>Blogs</strong> </ion-col>
      <ion-col style="text-align: right;"
        ><a [routerLink]="['blogs']" class="switch-to-list">
          Switch to list
        </a>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="background" [ngClass]="blogSliderClass">
    <div *ngIf="blogList; else loading">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let blog of blogList">
          <ion-card class="blog-card">
            <ion-card-content class="ion-text-start card-content">
              <img [src]="blog.image | async" />
              <h6 class="ion-padding-vertical">
                <strong class="blog-card-title"
                  ><a class="link-title" [routerLink]="['blog', blog.id]">{{
                    blog.title
                  }}</a></strong
                >
              </h6>
              <!-- <ion-label>Category: {{ blog.category }}</ion-label> -->
              <p class="blog-card-content">
                {{ blog.shortDescription }}
                <!-- <a [routerLink]="['blog-post', blog.id]">Read More</a> -->
              </p>
            </ion-card-content>
            <ion-row class="blog-card-footer" [ngClass]="blogSliderClass">
              <ion-col>
                <ion-buttons>
                  <ion-button [routerLink]="['take-action']">
                    <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
                    Take Action
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <div
        class="swiper-button-prev"
        (click)="wiofVideoSlider.slidePrev()"
      ></div>
      <div
        class="swiper-button-next"
        (click)="wiofVideoSlider.slideNext()"
      ></div>
    </div>

    <ng-template #loading>
      <ion-spinner name="crescent" class="wiof-spinner"></ion-spinner><br />
    </ng-template>
  </ion-card-content>
</ion-card>
