@import "../../wiof-custom-theming.scss";

.blog-card {
  height: calc(100% - 20px);
  // padding-bottom: 50px;
}

.blog-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card-content {
  display: -webkit-box;
  height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $dark-color;
}

.blog-card-footer {
  background-color: white;
  border-top: 1px solid lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $dark-color;
}

.wiof-img-placeholder {
  background-color: blue;
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.blogImage {
  align-self: center;
  width: 320px;
  padding: 10px;
  align-self: center;
}

.wiof-slider-header {
  border-bottom: white 2px solid;
  color: $dark-color;
}

.wiof-spinner {
  position: absolute;
  left: 50%;
}

.wiof-earth {
  background-color: $earth-color;
  &.background {
    background-color: rgba($earth-color, $tint-fraction);
  }
}

.wiof-water {
  background-color: $water-color;
  &.background {
    background-color: rgba($water-color, $tint-fraction);
  }
}

.wiof-fire {
  background-color: $energy-color; //energy and fire are to be considered same element
  &.background {
    background-color: rgba($energy-color, $tint-fraction);
  }
}

.wiof-air {
  background-color: $air-color;
  &.background {
    background-color: rgba($air-color, $tint-fraction);
  }
}

.wiof-spirit {
  background-color: $spirit-color;
  &.background {
    background-color: rgba($spirit-color, $tint-fraction);
  }
}

.show-more-card {
  height: calc(100% - 20px);
  width: 100%;
  padding-top: 40%;
  cursor: pointer;

  p {
    font-size: 20px;

    ion-icon {
      font-size: 30px;
    }
  }
}

.swiper-slide {
  height: auto;
}
