<ion-card>
  <ion-card-header class="ion-align-center">
    <strong>Blogs</strong>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="blogList; else loading">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let blog of blogList">
          <ion-card class="sliding-card-margin wiof-card">
            <ion-card-content class="ion-text-start">
              <ion-img [src]="blog.image | async"></ion-img>
              <h6 class="ion-padding-vertical">
                <a [routerLink]="['blog', blog.id]"
                  ><strong>{{ blog.title }}</strong></a
                >
              </h6>
              <!-- <ion-label>Category: {{ blog.category }}</ion-label> -->
              <p>
                {{ blog.shortDescription }}
                <!-- <a [routerLink]="['blog-post', blog.id]">Read More</a> -->
              </p> </ion-card-content
            ><br />
            <ion-buttons class="wiof-take-action">
              <ion-button [routerLink]="['take-action']">
                <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
                Take Action
              </ion-button>
            </ion-buttons>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <ng-template #loading>
      <ion-spinner name="crescent"></ion-spinner><br />Loading..
    </ng-template>
  </ion-card-content>
</ion-card>
