<app-header></app-header>
<ion-content>
  <ion-row>
  <ion-col size-md="6" offset-md="3">
  <app-back-button></app-back-button>
  <h1 class="wiof-take-action">
    Privacy Policy 
  </h1>
  <p>
    The World is One Family is committed to protecting the privacy and accuracy of confidential information to the extent possible, subject to provisions of state and federal law. Other than as required by laws that guarantee public access to certain types of information, or in response to subpoenas or other legal instruments that authorize access, personal information is not actively shared. In particular, we do not re-distribute or sell personal information collected on our web servers.
  </p>
  <h4>Information collected: </h4>
  <ul>
    <li>Internet Protocol (IP) address of computer being used</li>
    <li>Web pages requested</li>
    <li>Referring web page</li>
    <li>Browser used</li>
    <li>date and time</li>

  </ul>
  <h4>Cookies</h4>
  <p>
  World is One Family site may use "cookies" in order to deliver web content specific to individual users' interests or to keep track of online purchasing transactions. Sensitive personal information is not stored within cookies.
  </p>

  <h4>Use of collected information:</h4>
  <ul>
    <li>World is One Family site will only use personal information collected from this site for the purpose of communication back to individuals who contact us via the site.</li>
    <li>World is One Family site uses browser-IP-address information and anonymous-browser history to report information about site accesses and for profiling purposes. This information is used to improve Web presentation and utilization. IP address information may also be used for troubleshooting purposes.</li>
  </ul>
<!-- [Customize the following  to reflect the data collection and use]
●	[Your website name] will only use personal information collected from this site for the purpose of communication back to individuals who contact us via the site.
●	
●	The CalNet information collected by [You website name] is used to identify users accessing secure content, and to pre-fill forms with information about the user submitting the form. -->

  <h4>Distribution of collected information:</h4>
  <ul>
    <li>World is One Family site will not disclose, without your consent, personal information collected about you, except for certain explicit circumstances in which disclosure is required by law.</li>
    <li>World is One Family site  will not distribute or sell personal information to third-party organizations.</li>
  </ul>

  <h4>Privacy Statement Revisions:</h4>
  <p>This Privacy Statement was last revised on 23 August 2020. We may change this Privacy Statement at any time and for any reason. We encourage you to review this Privacy Statement each time you visit the web site.
    If we make a significant change to our Privacy Statement, we will post a notice on the homepage of our web site for a period of time after the change is made. 
    </p>

    <h4>Responsibility for External Sites:</h4>
    <p>This website may contain links to other web sites. Some of those web sites may be operated by third parties. We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of web sites operated by others. 
      We are not responsible for the performance of web sites operated by third parties or for your business dealings with them. Therefore, whenever you leave this web site we recommend that you review each web site's privacy practices and make your own conclusions regarding the adequacy of these practices.
    </p>

    <h4>How to contact us</h4>
    <p>
      While using this website, you may encounter hypertext links to the Web pages of other websites or organizations not directly affiliated with World is One Family. World is One Family site does not control the content or information practices of external organizations.  We recommend you review the privacy statements of these organizations.
    </p>
  </ion-col>
  </ion-row>
  <app-wiof-footer></app-wiof-footer>
</ion-content>
