<ion-card class="blog-card" [routerLink]="['blog', blog.id]">
  <ion-card-content class="ion-text-start card-content">
    <div class="img-container">
      <img [src]="blog.image$ | async" alt="" />
    </div>
    <h3 class="ion-padding">
      <div class="blog-card-title">
        <a class="link-title">{{ blog.title }}</a>
      </div>
      <div>
        <small
          style="font-size: 85%"
          [attr.aria-label]="'author ' + blog.author"
          >- {{ blog.author }}</small
        >
      </div>
    </h3>
    <p class="blog-card-content ion-padding-horizontal">
      {{ blog.shortDescription }}
    </p>
  </ion-card-content>
</ion-card>
