<ion-card class="blog-card">
  <ion-card-content class="ion-text-start card-content">
    <img [src]="blog.image | async" />
    <h6 class="ion-padding-vertical">
      <strong class="blog-card-title"
        ><a [routerLink]="['blog', blog.id]">{{
          blog.title
        }}</a></strong
      >
    </h6>
    <!-- <ion-label>Category: {{ blog.category }}</ion-label> -->
    <p class="blog-card-content">
      {{ blog.shortDescription }}
      <!-- <a [routerLink]="['blog-post', blog.id]">Read More</a> -->
    </p>
  </ion-card-content>
  <ion-row class="blog-card-footer">
    <ion-col>
      <ion-buttons>
        <ion-button [routerLink]="['take-action']">
          <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
          Take Action
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-card>