<ion-card class="blog-card" [routerLink]="['blog', blog.id]">
  <ion-card-content class="ion-text-start card-content">
    <div class="img-container">
      <img [src]="blog.image$ | async" alt="" />
    </div>
    <div class="ion-padding">
      <h3 class="blog-card-title">
        <a class="link-title">{{ blog.title }}</a>
      </h3>
      <div>
        <small class="author-name" [attr.aria-label]="'author ' + blog.author"
          >by {{ blog.author }}</small
        >
        <small class="time-to-read"
          ><ion-icon slot="icon-only" name="stopwatch-outline"></ion-icon
          >{{ blog.timeToRead }} min read</small
        >
      </div>
      <div></div>
    </div>
    <p class="blog-card-content ion-padding-horizontal">
      {{ blog.shortDescription }}
    </p>
  </ion-card-content>
</ion-card>
