@import '../../wiof-custom-theming.scss';

.take-action-content {
  height: 650px;
  margin: 0 auto;

  ion-card-title {
    text-align: center;
  }

  ion-card-header {
    &.air {
      background-color: $air-color;
    }

    &.earth {
      background-color: $earth-color;
    }

    &.water {
      background-color: $water-color;
    }

    &.energy {
      background-color: $energy-color;
    }

    &.spirit {
      background-color: $spirit-color;
    }
  }

  .action-sub-heading {
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }

  .actions-container {
    height: 500px;
    overflow: auto;
    margin: 10px;
  }

  .action-card {
    height: 100%;
    margin: 5px;
    box-shadow: 1px 2px 4px lightgrey;

    &.air {
      .action-card-title,
      .action-media-container {
        background-color: darken($air-color, 15%);
      }
    }

    &.earth {
      .action-card-title,
      .action-media-container {
        background-color: darken($earth-color, 15%);
      }
    }

    &.water {
      .action-card-title,
      .action-media-container {
        background-color: darken($water-color, 15%);
      }
    }

    &.energy {
      .action-card-title,
      .action-media-container {
        background-color: darken($energy-color, 25%);
      }
    }

    &.spirit {
      .action-card-title,
      .action-media-container {
        background-color: darken($spirit-color, 15%);
      }
    }

    &:hover {
      font-size: 18px !important;
      box-shadow: 5px 5px 20px lightgrey;
    }

    .action-card-title {
      color: white;
      padding: 10px 15px 15px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .action-card-content {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
    }
  }
}
