<ion-card class="take-action-content">
  <ion-card-content class="app-take-action-content-container">
    <p class="action-sub-heading">
      Below are the actions you can take towards
      <span style="font-weight: 500">{{ actionData.tab.title }}</span>
      element.
    </p>
    <div>
      <ion-grid class="actions-container" style="margin: 0 auto">
        <ion-row>
          <ion-col
            *ngFor="let action of actionData.links"
            size="12"
            size-md="6"
            size-lg="3"
          >
            <ion-card class="action-card" [ngClass]="selectedElement">
              <ion-card-content
                class="ion-no-padding ion-text-left"
                style="height: 100%"
              >
                <div class="action-media-container">
                  <iframe
                    [title]="'Video for ' + action.heading"
                    [src]="action.linkSafe"
                    style="border: none; width: 100%; min-height: 200px"
                  >
                  </iframe>
                </div>
                <h3 class="action-card-title">
                  {{ action.heading }}
                </h3>
                <p class="action-card-content ion-padding-horizontal">
                  {{ action.desc }}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>
