<div class="food-ph-indicator-meter">
  <ion-row style="padding-top: 50px;">
    <ion-col size="12">
      <ion-row>
        <ion-col class="phScale" size="12">
          <div class="phScaleBlock ph0" ></div>
          <div class="phScaleBlock ph1" ></div>
          <div class="phScaleBlock ph2" ></div>
          <div class="phScaleBlock ph3" ></div>
          <div class="phScaleBlock ph4" ></div>
          <div class="phScaleBlock ph5" ></div>
          <div class="phScaleBlock ph6" ></div>
          <div class="phScaleBlock ph7" ></div>
          <div class="phScaleBlock ph8" ></div>
          <div class="phScaleBlock ph9" ></div>
          <div class="phScaleBlock ph10" ></div>
          <div class="phScaleBlock ph11" ></div>
          <div class="phScaleBlock ph12" ></div>
          <div class="phScaleBlock ph13" ></div>
          <div class="phScaleBlock ph14" ></div>
        </ion-col>
      </ion-row>
      <div class="bracket" [ngClass]="updatePhPointer()" ></div>
    </ion-col> 
    <ion-col size="12" style="text-align:center;">
      <!-- {{food|json}} -->
      <!-- ph Value in ph Indicator meter {{food.value}} -->
      {{message}}
    </ion-col> 
  </ion-row>
</div>