@import "../../wiof-custom-theming.scss";

.wiof-food-ph-indicator {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: transparent;
}

// @media (max-width:320px ) {
//   .ph-widget-height{
//     height: 520px;
//   }
// }

// @media (min-width:321px ) {
//   .ph-widget-height{
//     height: 520px;
//   }
// }
.ph-widget-height {
  height: 577px;
}
// @media (min-width:320px ) {
//   .videoPlayer{
//       width:280px;
//       // height:158px;
//   }
// }

// @media (min-width:575px ) {
//   .videoPlayer{
//       width:280px;
//       // height:158px;
//   }
// }

// @media (min-width:977px ) {
//   .wiof-primary-button {
//     width:200px;
//     height:40px;
//     border-radius: 25px;
//     background: #2B2B2B;
//     color: white;
//   }
// }

// @media (min-width:768px ) {
//   .wiof-primary-button {
//     width:120px;
//     height:40px;
//     border-radius: 25px;
//     background: #2B2B2B;
//     color: white;
//   }
// }

// @media (max-width:767px ) {
// .wiof-primary-button {
//     width: 150px;
//     border-radius: 25px;
//     height: 30px;
//     background: #2B2B2B;
//     color: white;
//   }
// }

.wiof-primary-button {
  width: 80%;
  border-radius: 25px;
  height: 35px;
  background: #2b2b2b;
  color: white;
  padding: 2px;
}

.title-text {
  font-size: 20px;
  font-weight: 500;
}

.wiof-food-ph-widget-card-header {
  background-color: $earth-color;
  border-bottom: white 2px solid;
}

.wiof-food-ph-widget-card-background {
  background-color: rgba($earth-color, $tint-fraction);
}

.wiof-food-ph-widget-card-content{
  height:500px;
  overflow:auto;

}

.divider {
  background-color: $earth-color;
  height: 1px;
  border-width: 0px;
  background-color: #4d4b4b;
}

.ph-meter-text {
  font-size: large;
  color: #000;
  padding-bottom: 5px;
}

.text {
  color: #000;
  padding-top: 5px;
}

.wiof-food-ph-indicator-selector {
  padding: 10px;
}
