@import "../../wiof-custom-theming.scss";

.wiof-food-ph-indicator
{
position: absolute;
height: 300px;
width: 300px;
background-color: transparent;

}

.wiof-primary-button {
    width: 150px;
    border-radius: 25px;
    height: 30px;
    background: #2B2B2B;
    color: white;
  }

.wiof-food-ph-widget-card-header {
    background-color: $earth-color;
    border-bottom: white 2px solid;
    &.background{
      background-color: rgba($earth-color,$tint-fraction);
    }
  }

.divider{
  background-color: $earth-color;
  height: 1px;
  border-width: 0px;
  background-color: #4d4b4b;
}

.ph-meter-text{
  font-size: large;
  color:#000;
  padding-bottom: 5px;
}

.text{
  color:#000;
  padding-top: 5px;
}

.wiof-food-ph-indicator-selector{
    padding: 10px;
}

