<ion-card class="wiof-food-ph-widget-card-background ph-widget-height">
  <ion-card-header class="wiof-food-ph-widget-card-header">
    <ion-card-title class="title-text"> pH Widget </ion-card-title>
  </ion-card-header>
  <ion-card-content class="wiof-food-ph-widget-card-content" style="padding: 5px">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="text">
          <p style="text-align: justify;">
            The human body is built to naturally maintain a healthy balance of acidity and alkalinity, called a pH balance. One way we can help our body maintain a healthy pH balance is through our diet. A diet low in acid producing foods can help maintain a healthy body pH balance. 
            The scale below will tell you the pH balance of commonly consumed foods.
          </p>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-label class="text">
          Check the pH value of various commonly consumed food items.
        </ion-label>
        <ion-col size="6">
          <ion-label class="text" location="floating"> Food list </ion-label>
          <ion-select
            color="dark"
            interface="popover"
            [(ngModel)]="selectedFood"
            placeholder="Select Food"
          >
            <ion-select-option
              *ngFor="let food of foodOptions"
              [value]="food"
              >{{ food.name | titlecase }}</ion-select-option
            >
          </ion-select>
        </ion-col>
        <ion-col size="6" style="text-align: center">
          <button
            class="wiof-primary-button ion-margin-top"
            (click)="updateBridgeVariable()"
          >
            Calculate pH value
          </button>
        </ion-col>
      </ion-row>
      <hr class="divider" />
      <ion-row>
        <ion-col>
          <p class="ph-meter-text">pH Meter</p>
          <app-food-ph-indicator-meter
            [food]="bridgeVariable"
          ></app-food-ph-indicator-meter>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
