<ion-card style="height: 520px;" class="wiof-food-ph-widget-card-header background">
  <ion-card-header class="wiof-food-ph-widget-card-header">
    <ion-card-title>
      pH Widget
    </ion-card-title>
  </ion-card-header>
  <ion-card-content style="padding: 5px;">
    <ion-grid>
      <ion-row>
          <ion-label class="text">
            Check the pH value of various commonly consumed food items.
          </ion-label>
          <ion-col size="6">
          <ion-label class="text" location="floating">
            Food list
          </ion-label>
          <ion-select interface="popover" [(ngModel)]="selectedFood" placeholder="Select Food">           
              <ion-select-option
              *ngFor="let food of foodOptions"
              [value]="food"
              >{{ food.name | titlecase }}</ion-select-option>
            </ion-select>
        </ion-col>
        <ion-col size="6">
          <button class="wiof-primary-button ion-margin-top" (click)="updateBridgeVariable()">
            calculate pH value
          </button>
        </ion-col>
      </ion-row>
      <hr class="divider"/>
      <ion-row>
        <ion-col>
          <p class="ph-meter-text" >pH Meter</p>
          <app-food-ph-indicator-meter [food]="bridgeVariable" ></app-food-ph-indicator-meter>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
