<ion-card *ngIf="newsList?.length > 0" class="breaking-news-container">
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-row>
      <ion-col class="title-text" size="12">Breaking NEWS</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="background">
    <div *ngIf="newsList; else loading">
      <ion-slides #wiofNewsSlider [options]="slideOpts">
        <ion-slide *ngFor="let news of newsList">
          <ion-card class="news-card">
            <ion-card-content class="ion-text-start card-content">
              <ion-row>
                <ion-col class="media-container" size-xs="12" size-xl="8">
                  <img
                    class="mediaPlayer"
                    [src]="news.imageLink | async"
                    [alt]="'Image for news ' + news.headline"
                    *ngIf="news.mediaType == 'image'"
                  />
                  <iframe
                    class="mediaPlayer"
                    [title]="'Video for news ' + news.headline"
                    [src]="news.sanitizedLink"
                    *ngIf="news.mediaType == 'video'"
                  ></iframe>
                </ion-col>
                <ion-col class="news-content" size-xs="12" size-xl="4">
                  <article>
                    <h2>
                      <strong>{{ news.headline }}</strong>
                    </h2>
                    <p class="content" [innerHTML]="news.content"></p>
                    <ion-button
                      *ngIf="news.newsSource"
                      [href]="news.newsSource"
                      target="_blank"
                      color="home"
                      >Know More</ion-button
                    >
                  </article>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <marquee class="newsHeadlineScroll" direction="left" loop="infinite">
        <p>
          <span *ngFor="let news of newsList">
            <span>&#x25cf; </span>{{ news.headline }}
          </span>
        </p>
      </marquee>
      <div
        *ngIf="newsList.length > 1"
        class="swiper-button-prev navigation-arrow-custom-styling"
        (click)="wiofNewsSlider.slidePrev()"
      ></div>
      <div
        *ngIf="newsList.length > 1"
        class="swiper-button-next navigation-arrow-custom-styling"
        (click)="wiofNewsSlider.slideNext()"
      ></div>
    </div>
    <ng-template #loading>
      <ion-spinner name="crescent" class="wiof-spinner"></ion-spinner><br />
    </ng-template>
  </ion-card-content>
</ion-card>
