@import '../../wiof-custom-theming.scss';

.breaking-news-container {
  height: calc(100% - 20px);

  .background,
  .background > div {
    height: 100%;
  }

  ion-slides {
    height: calc(100% - 110px);

    .news-card {
      min-width: 20%;
      height: 100%;
      margin: 0;
      width: 100%;
      border-radius: 0;

      ion-card-content {
        height: 100%;

        ion-row {
          height: 100%;

          .media-container {
            min-height: 300px;
            max-height: 550px;
          }

          .news-content {
            padding: 15px;

            .content {
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  .newsHeadlineScroll {
    position: relative;
    height: 55px;
    background-color: $home-color;
    color: $dark-color;
    padding: 15px;
    font-weight: $font-weight-medium;
    font-size: 15px;
    white-space: nowrap;

    div {
      display: inline-block;
      width: max-content;
      padding-left: 100%;
      /* show the marquee just outside the paragraph */
      will-change: transform;
      animation: marquee 15s linear infinite;
    }

    div:hover {
      animation-play-state: paused;
    }

    @keyframes marquee {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }

    /* Respect user preferences about animations */
    @media (prefers-reduced-motion: reduce) {
      div {
        animation-iteration-count: 1;
        animation-duration: 0.01;
        /* instead of animation: none, so an animationend event is 
         * still available, if previously attached.
         */
        width: auto;
        padding-left: 0;
      }
    }
  }
}

.video-card-footer {
  background-color: white;
  border-top: 1px solid lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $dark-color;
}

.thumbnailImage {
  align-self: center;
  width: 100%;
  padding-top: 56.25%;
}

.media-container {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.navigation-arrow-custom-styling {
  top: 40%;
}

.mediaPlayer {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.wiof-slider-header {
  border-bottom: white 2px solid;
  background-color: $home-color;
  color: $home-text-color;
}

.background {
  background-color: $home-color-light;
  padding: 0;

  .news-card .card-content {
    padding: 0px;
  }
}

// /* Using SCSS variables to store breakpoints */
// $breakpoint-desktop: 1024px;
// $breakpoint-tablet: 767px;
// $breakpoint-mobile: 480px;

// //xsmall view from 0 to 479
// @media (max-width: $breakpoint-mobile){
//   .thumbnailImage{
//     width:320px;
//   }
// }

// //small view from 480 to 766
// @media (max-width: $breakpoint-tablet){
//   .thumbnailImage{
//     width:320px;
//   }
// }

// //medium view from 767 to 1023
// @media (max-width: $breakpoint-desktop){
//   .thumbnailImage{
//     width:249.5px;
//   }
// }

// //large view 1024 and above
// @media (min-width: $breakpoint-desktop){
//   .thumbnailImage{
//     width:249.5px;
//   }
// }

.wiof-spinner {
  position: absolute;
  left: 50%;
}

.show-more-card {
  height: calc(100% - 20px);
  width: 100%;
  padding-top: 30%;
  cursor: pointer;

  p {
    font-size: 20px;

    ion-icon {
      font-size: 30px;
    }
  }
}

.swiper-slide {
  height: auto;
}

.video-title {
  text-decoration: none;
}
