@import "../../wiof-custom-theming.scss";

.breaking-news-container {
  height: calc(100% - 20px);

  .background,
  .background > div {
    height: 100%;
  }

  ion-slides {
    height: calc(100% - 110px);

    .news-card {
      min-width: 20%;
      height: 100%;
      margin: 0;
      width: 100%;
      border-radius: 0;

      ion-card-content {
        height: 100%;

        ion-row {
          height: 100%;

          .media-container {
            min-height: 300px;
          }
        }
      }
    }
  }
}

.video-card-footer {
  background-color: white;
  border-top: 1px solid lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $dark-color;
}

.thumbnailImage {
  align-self: center;
  width: 100%;
  padding-top: 56.25%;
}

.media-container {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.newsContent {
  padding: 15px;
}

.navigation-arrow-custom-styling {
  top: 40%;
}

.mediaPlayer {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.newsHeadlineScroll {
  background-color: $home-color;
  color: $home-text-color;
  padding: 15px;
  font-weight: bold;
}

.wiof-slider-header {
  border-bottom: white 2px solid;
  background-color: $home-color;
  color: $home-text-color;
}

.background {
  background-color: $home-color-light;
  padding: 0;

  .news-card .card-content {
    padding: 0px;
  }
}

// /* Using SCSS variables to store breakpoints */
// $breakpoint-desktop: 1024px;
// $breakpoint-tablet: 767px;
// $breakpoint-mobile: 480px;

// //xsmall view from 0 to 479
// @media (max-width: $breakpoint-mobile){
//   .thumbnailImage{
//     width:320px;
//   }
// }

// //small view from 480 to 766
// @media (max-width: $breakpoint-tablet){
//   .thumbnailImage{
//     width:320px;
//   }
// }

// //medium view from 767 to 1023
// @media (max-width: $breakpoint-desktop){
//   .thumbnailImage{
//     width:249.5px;
//   }
// }

// //large view 1024 and above
// @media (min-width: $breakpoint-desktop){
//   .thumbnailImage{
//     width:249.5px;
//   }
// }

.wiof-spinner {
  position: absolute;
  left: 50%;
}

.show-more-card {
  height: calc(100% - 20px);
  width: 100%;
  padding-top: 30%;
  cursor: pointer;

  p {
    font-size: 20px;

    ion-icon {
      font-size: 30px;
    }
  }
}

.swiper-slide {
  height: auto;
}

.video-title {
  text-decoration: none;
}
