@mixin page-welcome-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  text-align: center;
  padding-top: 50px;
}

.elements-welcome-label {
  font-size: 40px;
  color: black;
  font-weight: normal;
  padding: 20px;
  margin: 0;
}

.air-welcome-img {
  background: url("../../../assets/Air_Banner.png");
  outline: none;
  @include page-welcome-img;
}

.earth-welcome-img {
  background: url("../../../assets/Earth_Banner.jpg");
  outline: none;
  @include page-welcome-img;
  @media only screen and (max-width: 768px) {
    background-position: -250px;
  }
}

.fire-welcome-img {
  background: url("../../../assets/Energy_Banner.jpg");
  outline: none;
  @include page-welcome-img;
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    background-position: -150px;
  }
}

.spirit-welcome-img {
  background: url("../../../assets/Spirit_Banner.png");
  outline: none;
  @include page-welcome-img;
  @media only screen and (max-width: 768px) {
    background-position: -10px;
  }
  @media only screen and (max-width: 700px) {
    background-position: 27% -50px;
  }
}

.water-welcome-img {
  background: url("../../../assets/Water_Banner.jpg");
  outline: none;
  @include page-welcome-img;
}
