@mixin page-welcome-img {
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  height: 310px;
  text-align: center;
  padding-top: 50px;
}

.elements-welcome-label {
  // text-shadow: 1px 1px 5px white;
  font-size: 40px;
  color: black;
  font-weight: normal;
  padding: 20px;
  margin: 0;
  // animation: text 5s 1;
}

// @keyframes text{
//   50%{
//     letter-spacing: 40px;
//   }
// }

.air-welcome-img {
  background: url("../../../assets/Air_Banner.jpg");
  @include page-welcome-img;
}

.earth-welcome-img {
  background: url("../../../assets/Earth_Banner.jpg");
  @include page-welcome-img;
}

.fire-welcome-img {
  background: url("../../../assets/Energy_Banner.jpg");
  @include page-welcome-img;
}

.spirit-welcome-img {
  background: url("../../../assets/Spirit_Banner.jpg");
  @include page-welcome-img;
}

.water-welcome-img {
  background: url("../../../assets/Water_Banner.jpg");
  @include page-welcome-img;
}
