@import '../../wiof-custom-theming.scss';

$shadowcolor: rgb(89, 45, 0);
$fontcolor: #fff;

.wiof-subscribe {
  position: absolute;
  width: 275px;
  top: 6rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  z-index: 100;
  transition: 0.5s;
  right: -275px;
  padding: 1rem 1rem;
  color: $dark-color;

  &.active {
    right: 0px;
    box-shadow: 1px 1px 1rem $dark-color;
  }

  &.home {
    background-color: lighten($home-color, 5%);
  }
  &.earth {
    background-color: $earth-color;
  }
  &.water {
    background-color: $water-color;
  }
  &.air {
    background-color: $air-color;
  }
  &.spirit {
    background-color: $spirit-color;
  }
  &.energy {
    background-color: $energy-color;
  }
}

.wiof-subscribe-form {
  z-index: 100;

  .item-input {
    border-radius: 5px;
  }
}

.wiof-subscribe-button {
  position: absolute;
  height: 150px;
  width: 40px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
  top: 9rem;
  right: 0;
  z-index: 100;
  transition: 0.5s;
  // transition-delay: 0.5s;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &.inactive {
    left: -40px;
    opacity: 0%;
  }

  &.home {
    background-color: lighten($home-color, 5%);
  }
  &.earth {
    background-color: $earth-color;
  }
  &.water {
    background-color: $water-color;
  }
  &.air {
    background-color: $air-color;
  }
  &.spirit {
    background-color: $spirit-color;
  }
  &.energy {
    background-color: $energy-color;
  }

  @media only screen and (max-width: 767px) {
    height: 120px;
    width: 35px;
  }
}

.mail {
  position: absolute;
  top: 110px;
  width: 35px;
  color: $dark-color;
  right: 2px;
  font-size: x-large;

  @media only screen and (max-width: 767px) {
    top: 90px;
    width: 32px;
    right: -1px;
    font-size: large;
  }
}

.subscribe-text {
  transform: rotate(-90deg);
  width: 100px;
  position: absolute;
  top: 40px;
  left: -30px;
  margin: 0px;
  font-weight: bold;
  color: $dark-color;

  @media only screen and (max-width: 767px) {
    top: 20px;
    font-size: 14px;
  }
}

h4 {
  color: $dark-color;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 18px;
  width: 90%;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 4px;
  outline: none;
  color: $dark-color;
  font-size: x-large;
  background-color: transparent;
}
