<div
  class="wiof-subscribe-button"
  (click)="onSubscribeButtonClick()"
  [ngClass]="{
    inactive: !subscribeButton,
    home: page == 'home',
    earth: page == 'earth',
    air: page == 'air',
    water: page == 'water',
    spirit: page == 'spirit',
    energy: page == 'energy'
  }"
>
  <p class="subscribe-text">Subscribe</p>
  <ion-icon class="mail" name="mail-outline"></ion-icon>
</div>
<div
  class="wiof-subscribe"
  [ngClass]="{
    active: !subscribeButton,
    home: page == 'home',
    earth: page == 'earth',
    air: page == 'air',
    water: page == 'water',
    spirit: page == 'spirit',
    energy: page == 'energy'
  }"
>
  <h4 class="subscribe-heading">Subscribe to WIOF NewsLetter</h4>
  <button
    class="close-button"
    title="Close subscription box"
    (click)="onBack()"
  >
    <ion-icon name="close-circle-outline"></ion-icon>
  </button>
  <form
    [formGroup]="addSubscriberForm"
    (submit)="onSubmit()"
    class="wiof-subscribe-form"
  >
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input> </ion-item
    ><br />
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input> </ion-item
    ><br />
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input> </ion-item
    ><br />
    <button
      [disabled]="!addSubscriberForm.valid"
      class="wiof-primary-btn"
      type="submit"
    >
      Subscribe</button
    ><br />
    <p>
      Please be rest assured that you will not receive any promotional emails
      from us and we also do not share our mailing lists with any third party.
      By Subscribing to us, you only receive information about new relevant
      content added to our website.
    </p>
  </form>
</div>
