@import '../../wiof-custom-theming.scss';

$shadowcolor: rgb(89, 45, 0);
$fontcolor: #fff;

.wiof-subscribe {
  position: absolute;
  height: 390px;
  width: 250px;
  top: 80px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 100;
  transition: 0.5s;
  left: -250px;
  &.active {
    left: 0px;
    box-shadow: 1px 1px 10px #000000;
  }

  &.home {
    background-color: $home-color;
  }
  &.earth {
    background-color: $earth-color;
  }
  &.water {
    background-color: $water-color;
  }
  &.air {
    background-color: $air-color;
  }
  &.spirit {
    background-color: $spirit-color;
  }
  &.energy {
    background-color: $energy-color;
  }
}

.wiof-subscribe-form {
  padding: 10px;
  z-index: 100;

  .item-input {
    border-radius: 5px;
  }
}

.wiof-subscribe-button {
  position: absolute;
  height: 150px;
  width: 40px;

  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  top: 22vh;
  left: 0px;
  z-index: 100;
  // opacity: 85%;
  transition: 0.4s;
  transition-delay: 0.5s;

  &.inactive {
    left: -40px;
    opacity: 0%;
  }

  &.home {
    background-color: $home-color;
  }
  &.earth {
    background-color: $earth-color;
  }
  &.water {
    background-color: $water-color;
  }
  &.air {
    background-color: $air-color;
  }
  &.spirit {
    background-color: $spirit-color;
  }
  &.energy {
    background-color: $energy-color;
  }

  @media only screen and (max-width: 767px) {
    height: 120px;
    width: 35px;
  }
}

.mail {
  position: absolute;
  top: 110px;
  width: 35px;
  color: $home-text-color;
  font-size: x-large;

  @media only screen and (max-width: 767px) {
    top: 90px;
    width: 32px;
    font-size: large;
  }
}

.subscribe-text {
  transform: rotate(-90deg);
  width: 100px;
  position: absolute;
  top: 40px;
  left: -34px;
  margin: 0px;
  font-weight: bold;
  color: $home-text-color;

  @media only screen and (max-width: 767px) {
    top: 20px;
    font-size: 14px;
  }
}

h4 {
  padding: 10px;
  color: $home-text-color;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 4px;
  outline: none;
  color: $home-text-color;
  font-size: x-large;

  &.home {
    background-color: $home-color;
  }
  &.earth {
    background-color: $earth-color;
  }
  &.water {
    background-color: $water-color;
  }
  &.air {
    background-color: $air-color;
  }
  &.spirit {
    background-color: $spirit-color;
  }
  &.energy {
    background-color: $energy-color;
  }
}

.subscribe-button {
  color: $home-text-color;
  font-size: large;
  border: 1px solid $home-text-color;
  border-radius: 5px;
  transition: 0.5s;
  padding: 12px;
  margin-left: 40%;

  &:hover {
    color: $home-text-color;
    background-color: $fontcolor;
    box-shadow: $shadowcolor 5px 6px;
  }
  &:disabled {
    color: grey;
    border: 1px solid grey;
    box-shadow: none;
  }

  &.home {
    background-color: $home-color;
  }
  &.earth {
    background-color: $earth-color;
  }
  &.water {
    background-color: $water-color;
  }
  &.air {
    background-color: $air-color;
  }
  &.spirit {
    background-color: $spirit-color;
  }
  &.energy {
    background-color: $energy-color;
  }
}
