@import '../../wiof-custom-theming.scss';

.video-card {
  min-width: 20%;
  height: calc(100% - 10px);
  margin: 5px;
  cursor: pointer;

  ion-card-content {
    padding: 0 0 1rem 0;

    .img-container {
      overflow: hidden;
    }

    img {
      transform: scale(1);
      transition: transform 1s;
    }
  }

  &:hover {
    a {
      text-decoration: underline;
    }
    .img-container img {
      transform: scale(1.2);
      transition: transform 1s;
    }
  }
}

.thumbnailImage {
  align-self: center;
  width: 100%;
}

.video-card-footer {
  background-color: white;
  border-top: 1px solid lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $dark-color;

  .button {
    color: $dark-color;
  }

  &.air {
    background-color: $air-color;
  }

  &.earth {
    background-color: $earth-color;
  }

  &.water {
    background-color: $water-color;
  }

  &.energy {
    background-color: $energy-color;
  }

  &.spirit {
    background-color: $spirit-color;
  }
}
