<ion-card class="video-card">
  <ion-card-content class="ion-text-start card-content">
    <div class="img-container">
      <img
        [src]="video.thumbnail"
        class="thumbnailImage"
        [routerLink]="['video', video.url]"
        alt=""
      />
    </div>
    <h3 class="ion-padding">
      <strong
        ><a
          class="link-title"
          [routerLink]="['/element', element, 'video', video.url]"
          >{{ video.title }}</a
        ></strong
      >
    </h3>
  </ion-card-content>
</ion-card>
