<div class="wiof-social-share-button">
  <div>
    <div class="wiof-social-share-container">
      <ion-col style="padding-left: 0px">
        <a [href]="facebookShareLink" target="_blank" class="facebook-btn">
          <i class="fab fa-facebook"></i>
          <ion-icon id="fb" name="logo-facebook"></ion-icon>
        </a>
        <a [href]="twitterShareLink" target="_blank" class="twitter-btn">
          <ion-icon id="tw" name="logo-twitter"></ion-icon>
        </a>
        <a [href]="linkedinShareLink" target="_blank" class="linkedin-btn">
          <ion-icon id="li" name="logo-linkedin"></ion-icon>
        </a>
        <a [href]="whatsappShareLink" target="_blank" class="whatsapp-btn">
          <ion-icon id="wa" name="logo-whatsapp"></ion-icon>
        </a>
      </ion-col>
    </div>
  </div>
</div>
