@import "../../wiof-custom-theming.scss";

.wiof-earth-widget-card-header{
    background-color: $earth-color;
}


.wiof-food-ph-indicator
{
position: absolute;
height: 300px;
width: 300px;
background-color: transparent;

}

.wiof-food-ph-indicator-selector{

    padding: 10px;
}

