<ion-app>
  <!-- uncomment when have to add menu and links in header-->

  <!-- <ion-menu class="wiof-side-menu" side="start" menuId="wiof-menu" contentId="main">
    <ion-content>

      <ion-list>
        <ion-item>Lifestyle</ion-item>
        <ion-item>Environment</ion-item>
        <ion-item>Take Action</ion-item>
        <ion-item>Contribute</ion-item>
        <ion-item>About Us</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
