$earth-color:rgb(222,239,201);  
$water-color:rgb(223, 243, 255); 
$energy-color:rgb(255, 235, 184);  //energy and fire are to be considered same element
// $air-color:rgb(245,207,252);
$air-color:#E0CAF5;
$spirit-color:rgb(241, 222, 198);
$home-color: rgb(128, 64, 0);


//add tint to various slider backgrounds

$tint-fraction:0.5;

//swtich to list button on sliders
.switch-to-list{
    text-decoration:none;
    font-weight: bold;
  }
  
//ph values and corresponding ph arrow locations
$ph0:2%;
$ph1:8.5%;
$ph2:15.15%;
$ph3:21.8%;
$ph4:28.67%;
$ph5:35.36%;
$ph6:41.77%;
$ph7:48.5%;
$ph8:55.17%;
$ph9:61.2%;
$ph10:68.3%;
$ph11:75.2%;
$ph12:81.4%;
$ph13:88.5%;
$ph14:94.9%;


