$earth-color: rgb(189, 237, 129);
$water-color: rgb(223, 243, 255);
$energy-color: rgb(
  255,
  235,
  184
); //energy and fire are to be considered same element
$air-color: rgb(224, 202, 245);
$spirit-color: rgb(241, 222, 198);
// $home-color: rgb(128, 64, 0);
$home-color: #fbb0ac;//#70c0d7;//#fbb0ac;
$home-color-light: lighten($home-color, 30%);
//$home-color-light2: #e0e0ba;
$home-text-color: #2d2d2d;
$home-color-dark: darken($home-color, 6%);
$header-color: #fffaf0; // floral white

//add tint to various slider backgrounds

$tint-fraction: 0.5;

// font color
$dark-color: #2d2d2d;
$light-color: #fff;

@media (prefers-color-scheme: dark) {
  :root {
    $dark-color: #fff;
  }
}

$font-weight-medium: 500;

.navigation-arrow-custom-styling {
  opacity: 1;
  background-color: rgba(85, 83, 83, 0.1);
  transition: 0.6s;
  border-radius: 100%;
  scale: 0.8;
  height: 70px;
  width: 70px;
  top: calc(50% - 10px);
  &:hover {
    opacity: 0.4;
    background-color: #afafaf;
  }
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.widget-height {
  height: 577px;
}

.title-text {
  font-size: 20px;
  font-weight: $font-weight-medium;
  padding: 0;
}

.link-title {
  text-decoration: none;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 16px;
}

//ph values and corresponding highlighting square locations
$ph0: 0.88%;
$ph1: 7.31%;
$ph2: 13.74%;
$ph3: 20.17%;
$ph4: 26.6%;
$ph5: 33.03%;
$ph6: 39.46%;
$ph7: 45.89%;
$ph8: 52.32%;
$ph9: 58.75%;
$ph10: 65.18%;
$ph11: 71.61%;
$ph12: 78.04%;
$ph13: 84.47%;
$ph14: 90.9%;

//air-widget colors

$aqi-good-color: rgb(0, 228, 0);
$aqi-moderate-color: rgb(255, 255, 0);
$aqi-unhealthy-for-sensitive-color: rgb(255, 156, 0);
$aqi-unhealthy-color: rgb(255, 0, 0);
$aqi-very-unhealthy-color: rgb(143, 63, 151);
$aqi-hazardous-color: rgb(126, 0, 35);

$font-size-medium: 18px;

.font-size-medium {
  font-size: $font-size-medium;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.item-divider-line {
  border-bottom: 1px solid lightgrey;
}

.action-heading {
  padding-left: 20px;
}

.status-published {
  color: orange;
}

.status-inactive {
  color: grey;
}

.card-content-md h3,
p {
  font-size: 15px;
}

@mixin wiof-button {
  border-radius: 5px;
  margin: 5px 5px;
  padding: 0 10px;
  font-weight: $font-weight-medium;
  min-height: 35px;
  max-height: 50px;
  min-width: 120px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px grey;
  }

  &:active {
    box-shadow: none;
  }

  &.active {
    background: $light-color;
    color: $dark-color;
  }

  &.full-width {
    width: 100%;
    margin: 0 auto;
  }

  &.full-height {
    height: 100%;
    margin: 0 auto;
  }

  ion-icon {
    vertical-align: middle;
    padding-right: 5px;
    font-size: 16px;
  }

  margin-y {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.wiof-primary-btn {
  @include wiof-button();
  background: $dark-color;
  color: $light-color;
}

.wiof-secondary-btn {
  @include wiof-button();
  background-color: transparent;
  color: $dark-color;
  border: 1px solid $dark-color;
}

.wiof-icon-only-btn {
  text-decoration: none;
  padding: 5px;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  transition: 0.5s;
  vertical-align: -webkit-baseline-middle;
  margin: 5px;
  font-size: large;

  &:hover {
    border: 1px solid white;
    color: white;
    background-color: black;
  }
}

.wiof-primary-link {
  border-radius: 5px;
  background: $dark-color;
  color: $light-color;
  margin: 0 auto;
  font-weight: $font-weight-medium;
  padding: 6px 1rem;
  text-decoration: none;
  font-size: 15px;

  &:hover {
    opacity: 0.9;
  }
}

.no-margin {
  margin: 0 auto;
}

@mixin key-tag($background-color) {
  font-size: 14px;
  background-color: $background-color;
  color: $light-color;
  border-radius: 5px;
  padding: 2.5px 5px;
  margin: 5px 5px 0 0;
  font-weight: $font-weight-medium;
  display: inline-block;
}

.home-key-tag {
  @include key-tag($home-color-dark);
}

ion-icon {
  pointer-events: none;
}
