@import "../../wiof-custom-theming.scss";

.wiof-spirit-widget-card-header{
    background-color: $spirit-color;
    border-bottom: white 2px solid;
}

.wiof-spirit-widget-card-background{
        background-color: rgba($spirit-color,$tint-fraction);
}
