@import "../../wiof-custom-theming.scss";

.wiof-spirit-widget-card-header {
  background-color: $spirit-color;
  border-bottom: white 2px solid;
}

.wiof-spirit-widget-card-background {
  background-color: rgba($spirit-color, $tint-fraction);
}

.eq-widget-card-content {
  text-align: justify;
  text-justify: inter-word;
  color: $dark-color;
}

.show-test-button {
  cursor: pointer;
}

.eq-user-response {
  overflow: scroll;
  height: 500px;
  display: inline-block;
  width:100%;
}
