<div class="eq-indicator-meter">
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col class="eqScalePercent" size="12">
          <div
            class="eqScaleBlock range0"
            [style.width]="firstBlockWidth"
          ></div>
          <div
            class="eqScaleBlock range1"
            [style.width]="secondBlockWidth"
          ></div>
          <div
            class="eqScaleBlock range2"
            [style.width]="thirdBlockWidth"
          ></div>
        </ion-col>
        <ion-col class="eqScaleContainer" size="12">
          <div class="eqScale" style="width: 15%"><p>0%</p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale" style="width: 15%"><p>50%</p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale" style="width: 20%"><p>100%</p></div>
        </ion-col>
        <div class="bracket" [style.left]="arrowPositionBracket"></div>
      </ion-row>
    </ion-col>
    <!-- <ion-col size="12" class="text">
        {{ message }}
      </ion-col> -->
  </ion-row>
</div>
