@import "../../wiof-custom-theming.scss";

.food-ph-indicator-meter {
  border-radius: 5px;
  background-color: white;
}

.arrow-container {
  padding: 0%;
}
.arrow {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}
.eqScaleContainer {
  display: flex;
  width: 100%;
}
.eqScale {
  display: block;
  width: 10%;
  text-align: center;
}

.bracket {
  border: #202020 1px solid;
  width: 1px;
  height: 48px;
  z-index: 2;
  position: absolute;
  background-color: #2d2d2d;
  transition-delay: 1s;
  transition: 0.5s;
  top: 5px;
  // margin: 0 1%;
}

.phScaleBlock {
  // border: black px solid;
  // width: 32.8px;
  width: 6.667%;
  // border:white 0.25% solid;
  text-align: center;
  font: "roboto";
  color: black;
  display: inline-block;
  height: 40px;
  border: white 1.7px solid;
  z-index: 1;
  // position: absolute;

  top: 5px;
  &.range0 {
    // left:0%;
    background-color: #ff0000;
  }
  &.range1 {
    // left:7.38%;
    background-color: #9dff00;
  }
  &.range2 {
    // left:14.3%;
    background-color: #fffb0b;
  }
}

.text {
  color: #000;
  padding: 40px;
  padding-top: 5px;
  text-align: center;
}
