<ion-row class="ion-padding wiof-footer">
  <ion-col>
    <!-- <ion-label class="ion-margin-bottom">
      <button class="wiof-primary-button ion-margin-top" [routerLink]="['/sitemap']" routerLinkActive="router-link-active" >
        Sitemap
      </button>
    </ion-label><br /> -->
    <!-- <div class="social-media-block">
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-facebook"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-instagram"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-twitter"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-youtube"></ion-icon
      ></ion-button>
    </div> -->
  <!-- </ion-col>
  <ion-col class="ion-text-center">
    <button class="wiof-primary-button ion-margin-top ion-margin-end" [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active" >
      Privacy Policy 
    </button>
    <button class="wiof-primary-button ion-margin-top" [routerLink]="['/copyright']" routerLinkActive="router-link-active" >
      Copyright
    </button> -->
    <p>World is One Family © 2020 - 2021 </p>
  </ion-col>
</ion-row>
