.wiof-footer {
  background-color: darkslategray;
  color: white;
}

.social-media-block {
  background: white;
  width: fit-content;
  border-radius: 5px;
  padding: 0px 10px;
  margin-top: 10px;
}

.wiof-primary-button {
  width: 150px;
  border-radius: 25px;
  height: 30px;
  background: white;
  color: black;
}
