<ion-row class="ion-padding wiof-footer">
  <ion-col>
    <ion-label class="ion-margin-bottom">Sitemap</ion-label><br />
    <!-- <div class="social-media-block">
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-facebook"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-instagram"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-twitter"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-youtube"></ion-icon
      ></ion-button>
    </div> -->
  </ion-col>
  <ion-col class="ion-text-center">
    Privacy Policy | Copyright
  </ion-col>
</ion-row>
