@import '../../wiof-custom-theming.scss';

.wiof-footer {
  background-color: darkslategray;
  color: white;
}

.social-media-block {
  background: white;
  width: fit-content;
  border-radius: 5px;
  padding: 0px 10px;
  margin-top: 10px;
}
