<ion-row class="ion-padding wiof-footer">
  <ion-col>
    <ion-label class="ion-margin-bottom">Contact Us</ion-label><br />
    <ion-label class="ion-margin-bottom">Email:</ion-label><br />
    <div class="social-media-block">
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-facebook"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-instagram"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-twitter"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-youtube"></ion-icon
      ></ion-button>
    </div>
  </ion-col>
  <!-- <ion-col class="ion-text-center">
    Navigate
  </ion-col> -->
  <ion-col class="ion-text-center">
    <ion-label>Newsletter Sign Up</ion-label><br><br>
    <!-- <ion-item lines="none" class="ion-margin">
      <ion-input type="email" placeholder="Email address"></ion-input>
    </ion-item> -->
    <button class="wiof-primary-button">Subscribe</button>
  </ion-col>
</ion-row>