<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Ngo In Focuses</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" fill="clear" size="large" (click)="refreshData()"
        ><ion-icon name="refresh-outline" slot="start"></ion-icon
        >Refresh</ion-button
      ><ion-button
        color="success"
        fill="solid"
        size="large"
        (click)="addNgoInFocus()"
        ><ion-icon name="add-outline" slot="start"></ion-icon>Add New In
        Focus</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="ngoInFocusList$ | async as ngoInFocuses">
    <ion-row class="item-divider-line">
      <ion-col><strong>Total Items: {{ngoInFocuses.length}}</strong></ion-col>
    </ion-row>
    <ion-row class="item-divider-line">
      <ion-col size-md="2" class="ion-align-self-center"
        ><strong>NGO Name</strong></ion-col
      >
      <ion-col size-md="3" class="ion-align-self-center"
        ><strong>Know More Link</strong></ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        ><strong>Category</strong></ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        ><strong>Status</strong></ion-col
      >
      <ion-col size-md="1"><strong>Submit Date</strong></ion-col>
      <ion-col size-md="1"><strong>Publish Date</strong></ion-col>
      <ion-col size-md="1"><strong>Unpublish Date</strong></ion-col>
      <ion-col size-md="2"
        ><strong class="action-heading">Actions</strong></ion-col
      >
    </ion-row>
    <ion-row
      *ngFor="let ngoInFocus of ngoInFocuses; let i = index"
      class="item-divider-line"
    >
      <ion-col size-md="2" class="ion-align-self-center"
        >{{ i + 1 }}. {{ ngoInFocus.ngoName }}</ion-col
      >
      <ion-col size-md="3" class="ion-align-self-center"
        ><a [href]="ngoInFocus.knowMoreLink" target="_blank"
          >{{ ngoInFocus.knowMoreLink }}</a
        ></ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        >{{ ngoInFocus.category | uppercase}}</ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        >{{ngoInFocus.status | uppercase}}</ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        >{{ngoInFocus.submitDate | date}}</ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        >{{ngoInFocus.publishDate | date}}</ion-col
      >
      <ion-col size-md="1" class="ion-align-self-center"
        >{{ngoInFocus.unpublishDate | date}}</ion-col
      >
      <ion-col size-md="2">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button
              *ngIf="ngoInFocus.status == 'submitted'"
              title="Click to Publish Ngo In Focus"
              (click)="publishNgoInFocus(ngoInFocus.id, ngoInFocus.category)"
              ><ion-icon slot="icon-only" name="rocket-outline"></ion-icon
            ></ion-button>
            <ion-button
              (click)="publishNgoInFocus(ngoInFocus.id, ngoInFocus.category)"
              *ngIf="ngoInFocus.status == 'inactive'"
              disabled
              ><ion-icon
                slot="icon-only"
                name="rocket"
                class="status-inactive"
              ></ion-icon
            ></ion-button>
            <ion-button
              *ngIf="ngoInFocus.status == 'published'"
              title="Published Ngo In Focus"
              ><ion-icon
                slot="icon-only"
                name="rocket"
                class="status-published"
              ></ion-icon
            ></ion-button>
            <ion-button
              title="Click to view in focus details"
              (click)="viewNgoInFocusDetails(ngoInFocus)"
              ><ion-icon slot="icon-only" name="eye-outline"></ion-icon
            ></ion-button>
            <ion-button (click)="deleteNgoInFocus(ngoInFocuses, i, ngoInFocus)"
              ><ion-icon slot="icon-only" name="trash-outline"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
