<app-header></app-header>
<app-subscribe [page]="'spirit'"></app-subscribe>
<app-social-share-home style="z-index: 2"></app-social-share-home>
<ion-content>
  <app-element-welcome-image
    welcomeImageClass="spirit-welcome-img"
  ></app-element-welcome-image>

  <app-life-elements [element]="elementName"></app-life-elements>

  <ion-row>
    <ion-col size-lg="7" size-xs="12">
      <app-video-widget [element]="elementName"></app-video-widget>
    </ion-col>
    <ion-col size-lg="5" size-xs="12">
      <app-eq-widget></app-eq-widget>
    </ion-col>
  </ion-row>
  <ion-row
    ><ion-col
      ><app-blog-slider
        [blogList]="blogs | async"
        [element]="elementName"
      ></app-blog-slider
    ></ion-col>
  </ion-row>
  <ion-row
    ><ion-col
      ><app-video-slider
        [videoList]="videos | async"
        [element]="elementName"
      ></app-video-slider>
    </ion-col>
  </ion-row>
  <app-wiof-footer></app-wiof-footer>
</ion-content>
