<app-header></app-header>
<ion-content>
  <app-element-welcome-image
    welcomeImageClass="water-welcome-img"
  ></app-element-welcome-image>

  <app-life-elements [element]="elementName"></app-life-elements>
  <ion-row>
    <ion-col size-xs="7">
      <app-video-widget [element]="elementName"></app-video-widget>
    </ion-col>
    <ion-col size-md="5" size-xs="12">
      <app-water-widget></app-water-widget>
    </ion-col>
  </ion-row>
  <app-blog-slider
    [blogList]="blogs | async"
    [element]="elementName"
  ></app-blog-slider>
  <app-video-slider
    [videoList]="videos | async"
    [element]="elementName"
  ></app-video-slider>
  <app-wiof-footer></app-wiof-footer>
</ion-content>
