@import "../../wiof-custom-theming.scss";

.wiof-poll-card {
  background-color: rgba($home-color, $tint-fraction);
  height: 455px;
}

.wiof-polls-widget-card-header {
  background-color: $home-color;
  border-bottom: white 2px solid;
}

.wiof-polls-widget-card-background {
  color: black;
  font-size: large;
  padding-top: 10px;
  // transform:translateY(-50%);
}

.wiof-polls-widget-card-header-text {
  color: #ffffff;
}

.poll-widget-name-input {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 5px;
  height: 40px;
  font-size: $font-size-medium;
}

// .wiof-polls-submit-button{
//     background-color: $home-color;
// }
