<ion-card class="wiof-poll-card">
  <ion-card-header class="wiof-polls-widget-card-header">
    <ion-card-title class="wiof-polls-widget-card-header-text">
      Weekly Polls
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="wiof-polls-widget-card-background">
    <div *ngIf="showForm" class="polls-container">
      <form [formGroup]="wiofPollsForm" (submit)="submit()">
        <p>
          <label class="font-size-medium" for="name"
            >Please enter your name :</label
          ><br />
          <input
            formControlName="name"
            id="name"
            name="name"
            placeholder="Name"
            class="poll-widget-name-input"
          />
        </p>
        <br />
        <div class="font-size-medium">
          <p>Poll Question</p>
          <p style="font-size: large">{{ pollQuestion.question }}</p>
        </div>
        <br />

        <div
          class="poll-options"
          *ngFor="let option of pollQuestion.options; let i = index"
        >
          <input
            type="radio"
            id="option{{ i + 1 }}"
            name="option"
            value="option{{ i + 1 }}"
            formControlName="option"
          />
          <label for="option{{ i + 1 }}"> {{ option | titlecase }}</label>
        </div>

        <br />
        <p *ngIf="errorShow" class="error">Please fill all fields correctly</p>
        <button class="wiof-primary-button no-margin" type="submit">
          Submit Poll
        </button>
      </form>
    </div>
    <app-poll-result
      *ngIf="showPollResult"
      [pollQuestion]="pollQuestion"
    ></app-poll-result>
  </ion-card-content>
</ion-card>
