<ion-card
  [ngClass]="{
    'wiof-earth': element === 'earth',
    'wiof-water': element === 'water',
    'wiof-fire': element === 'fire',
    'wiof-air': element === 'air',
    'wiof-spirit': element === 'spirit'
  }"
>
  <ion-card-header class="ion-align-center wiof-slider-header">
    <strong>Videos</strong>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="videoList; else loading">
      <!-- <ion-slides [options]="slideOpts" pager> -->
      <!-- <ion-slides #wiofVideoSlider [options]="slideOpts">         -->
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let video of videoList">
          <ion-card class="video-card">
            <ion-card-content class="ion-text-start card-content">
              <img [src]="video.thumbnail" class="thumbnailImage" />
              <h6 class="ion-padding-vertical">
                <strong
                  ><a [routerLink]="['video', video.url]">{{
                    video.title
                  }}</a></strong
                >
              </h6>
            </ion-card-content>
            <ion-row class="video-card-footer">
              <ion-col>
                <ion-buttons>
                  <ion-button [routerLink]="['take-action']">
                    <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
                    Take Action
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <!-- <div class="swiper-button-prev" (click)="wiofVideoSlider.navigation.nextEl"></div>
      <div class="swiper-button-next"></div> -->
    </div>
    <ng-template #loading>
      <ion-spinner name="crescent" class="wiof-spinner"></ion-spinner><br />
    </ng-template>
  </ion-card-content>
</ion-card>
