<ion-card class="wiof-water-widget-card-background widget-height">
  <ion-card-header class="wiof-water-widget-card-header">
    <ion-card-title class="title-text">Water Widget</ion-card-title>
  </ion-card-header>
  <ion-card-content class="water-widget-padding">
    <div scrollY="true" class="wiof-water-widget-items">
      <ion-row>
        <ion-col size="12" class="text">
          <a style="cursor: pointer;" (click)="about=!about"> About Water Widget <ion-icon *ngIf="!about" name="chevron-down-outline"></ion-icon><ion-icon *ngIf="about" name="chevron-up-outline"></ion-icon></a>
          <p *ngIf="about" style="text-align: justify;color:#2D2D2D;">
            Widget to understand India's  water wealth and resources. Get access to telemetry based real time statistics on surface and ground water availability and Quality.
          </p>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col
          size-xs="6"
          size-sm="4"
          size-md="6"
          size-lg="4"
          *ngFor="let widgetItem of waterWidgetItems"
        >
          <ion-card
            class="wiof-water-widget-icons"
            href="{{ widgetItem.url }}"
            target="_blank"
          >
            <ion-card-header style="padding: 0px">
              <p class="wiof-water-widget-icons-text">
                {{ widgetItem.name }}
              </p>
            </ion-card-header>
            <ion-card-content class="wiof-water-widget-icons-text">
              <img src="{{ widgetItem.icon }}" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col class="wiof-water-widget-disclaimer">
        <p>
          Above icons will take you to third party website which gives
          interactive map showing data which you select here.
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
