.wiof-earth {
  background-color: rgb(214, 254, 225);
}

.wiof-water {
  background-color: rgb(223, 243, 255);
}

.wiof-fire {
  background-color: rgb(255, 235, 184);
}

.wiof-air {
  background-color: rgb(229, 229, 229);
}

.wiof-spirit {
  background-color: rgb(241, 222, 198);
}

.wiof-blog-col {
  min-height: 500px;
}

.blog-container {
  border-radius: 10px;
  box-shadow: lightgrey 5px 5px 25px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
