@import '../../wiof-custom-theming.scss';

.back-button {
  padding-right: 15px;
}

.profile-card {
  padding: 1px;

  &:hover {
    box-shadow: 0px 5px 20px lightgrey;
    border: 1px solid lightgrey;
    padding: 0px;
  }
}

.profile-image {
  width: 100px;
  border: 2px solid $dark-color;
  border-radius: 5px;
}

.profile-name {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.profile-bio-text {
  text-align: justify;
  color: $dark-color;
  font-size: 15px;
}

.linked-in-container {
  padding-top: 10px;

  .logo {
    font-size: 25px;
    vertical-align: bottom;
    padding-right: 5px;
  }

  .link {
    font-size: 15px;
  }
}
