<app-header></app-header>

<ion-content> 
  <ion-toolbar style="margin-top: 10px;">
    <ion-title>About Us</ion-title>
    <app-back-button slot="end"></app-back-button>
  </ion-toolbar>  
  <ion-card *ngFor="let profile of aboutUsProfiles">
    <ion-card-header>
      <ion-card-title>
        {{profile.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="2" style="text-align: center;">
          <img class="profile-image" [src]="profile.imageLink">
        </ion-col>
        <ion-col size="10">
          <p class="profile-bio-text">{{profile.bio}}</p>
          <ion-icon *ngIf="profile.socialLink" name="logo-linkedin"></ion-icon><a *ngIf="profile.socialLink" [href]="profile.socialLink" target="_blank"> {{profile.socialLink}}</a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <app-wiof-footer></app-wiof-footer>
</ion-content>
