@import '../../wiof-custom-theming.scss';

.back-button {
  padding-right: 1rem;
}

.profile-card-container {
  padding: 10px;
  @media screen and (max-width: 767px) {
    padding: 0 0 1rem 0;
  }
}

.profile-card {
  height: 100%;
  margin: 5px;
  border: 1px solid lightgrey;

  &:hover {
    box-shadow: 0px 5px 25px lightgrey;
    border: 1px solid lightgrey;
    padding: 0px;
  }

  .profile-header {
    text-align: center;
    padding: 1rem;
    padding-top: 20px;
    background: $header-color;
    border-bottom: 1px solid lightgrey;
  }

  .close-icon {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }

  .profile-detail-bio-header {
    display: inline-block;
    width: 90%;
    font-size: 20px;
    font-weight: 500;
  }

  .profile-detail-bio {
    height: 329px;
    overflow: auto;
    color: $dark-color;
    padding: 0 1rem 1rem 1rem;
  }
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 5px grey;
  border: 2px solid white;
}

.profile-name {
  color: $dark-color;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.profile-bio-text {
  text-align: justify;
  color: $dark-color;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linked-in-container {
  padding-top: 10px;
  color: $dark-color;

  .logo {
    font-size: 25px;
    vertical-align: bottom;
    padding-right: 5px;
  }

  .link {
    font-size: 15px;
    color: $dark-color;
  }
}
