<app-header></app-header>

<ion-content>
  <ion-toolbar style="margin-top: 10px">
    <ion-title>About Us</ion-title>
    <app-back-button slot="end" class="back-button"></app-back-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col
        class="ion-padding"
        size="12"
        size-md="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let profile of aboutUsProfiles"
      >
        <ion-card class="ion-margin profile-card">
          <ion-card-content class="ion-no-padding">
            <ion-row *ngIf="!profile.showKnowMore">
              <ion-col size="12" class="profile-header">
                <img
                  class="profile-image"
                  [src]="profile.imageLink"
                  [alt]="'Profile image of' + profile.name"
                />
                <ion-card-title class="ion-padding-bottom" class="profile-name">
                  {{profile.name}}
                </ion-card-title>
                <p class="linked-in-container">
                  <ion-icon
                    *ngIf="profile.socialLink"
                    name="logo-linkedin"
                    class="logo"
                  ></ion-icon
                  ><a
                    *ngIf="profile.socialLink"
                    [href]="profile.socialLink"
                    target="_blank"
                    class="link"
                    >Visit linked in profile</a
                  >
                </p>
              </ion-col>
              <ion-col size="12" class="ion-padding">
                <p class="profile-bio-text">{{profile.bio}}</p>
                <br />
                <p style="text-align: center">
                  <button
                    class="wiof-primary-link"
                    (click)="profile.showKnowMore = true"
                  >
                    Read More
                  </button>
                </p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="profile.showKnowMore">
              <ion-col size="12" class="ion-no-padding">
                <ion-card-title class="ion-padding">
                  <span class="profile-detail-bio-header"
                    >About {{profile.name}}</span
                  >
                  <span
                    class="close-icon"
                    (click)="profile.showKnowMore = false"
                    ><ion-icon name="close-outline"></ion-icon
                  ></span>
                </ion-card-title>
                <p class="profile-detail-bio">{{profile.bio}}</p>
                <br />
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-wiof-footer></app-wiof-footer>
</ion-content>
