<app-header></app-header>

<ion-content>
  <h1 class="ion-padding">Videos</h1>
  <ion-grid *ngIf="videos | async as videosList">
    <ion-row>
      <ion-col size="12">
        <app-back-button></app-back-button>
      </ion-col>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor="let video of videosList"
      >
        <app-video-card></app-video-card>
      </ion-col>

      <!-- Infinite scroll pending -->
    </ion-row>
  </ion-grid>

  <app-wiof-footer></app-wiof-footer>
</ion-content>
