@import "../../wiof-custom-theming.scss";

.wiof-select{
  color:$dark-color;
}

.wiof-fire-widget-card-header{
    background-color: $energy-color;
    border-bottom:white 2px solid;
    
}

.wiof-fire-widget-card-background{
  background-color: rgba($energy-color,$tint-fraction);
}

.wiof-primary-button {
    width: 180px;
    border-radius: 25px;
    font-size:large;
    height: 40px;
    background: #2B2B2B;
    color: white;
    margin-right:4px;
  }
