@import "../../wiof-custom-theming.scss";

.wiof-fire-widget-card-header{
    background-color: $energy-color;
    border-bottom:white 2px solid;
    &.background{
        background-color: rgba($energy-color,$tint-fraction);
      }
}
