<ion-card *ngIf="inFocuses?.length > 0" class="wiof-course-in-focus-container">
  <ion-card-header class="wiof-video-player-header" [ngClass]="inFocusClass">
    <ion-card-title class="title-text"> {{ inFocusTitle }} </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding background" [ngClass]="inFocusClass">
    <ion-slides #slider [options]="slideOpts">
      <ion-slide *ngFor="let inFocus of inFocuses">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size-xs="12" size-lg="8" class="wiof-video-player-content">
              <iframe
                [title]="inFocus.title"
                class="videoPlayer"
                [src]="inFocus.sanitizedLink"
                allowfullscreen
              ></iframe>
            </ion-col>
            <ion-col size-xs="12" size-lg="4" class="in-focus-content">
              <strong>{{ inFocus.subTitle }}</strong>
              <p>{{ inFocus.description }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
    <div
      *ngIf="inFocuses.length > 1"
      class="swiper-button-prev navigation-arrow-custom-styling"
      (click)="slider.slidePrev()"
    ></div>
    <div
      *ngIf="inFocuses.length > 1"
      class="swiper-button-next navigation-arrow-custom-styling"
      (click)="slider.slideNext()"
    ></div>
  </ion-card-content>
</ion-card>
