<ion-card>
  <ion-card-header
    class="wiof-video-player-header"
    [ngClass]="inFocusClass"
  >
    <ion-card-title class="title-text"> {{ inFocus.title }} </ion-card-title>
  </ion-card-header>
  <ion-card-content
    class="wiof-video-player-content background"
    [ngClass]="inFocusClass"
  >
    <iframe
      id="iframeYTvideo"
      [title]="inFocus.title"
      class="videoPlayer"
      [src]="inFocus.sanitizedLink"
      allowfullscreen
    ></iframe>

    <br />
  </ion-card-content>
</ion-card>
