<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Calendar</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="success"
        fill="solid"
        size="large"
        (click)="addNewOccassion()"
        ><ion-icon name="add-outline" slot="start"></ion-icon>Add New
        Occassion</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
