<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Blogs</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" fill="clear" size="large" (click)="refreshData()"
        ><ion-icon name="refresh-outline" slot="start"></ion-icon
        >Refresh</ion-button
      ><ion-button
        color="success"
        fill="solid"
        size="large"
        (click)="addNewBlog()"
        ><ion-icon name="add-outline" slot="start"></ion-icon>Add New
        Blog</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="blogList$ | async as blogList">
    <ion-row class="item-divider-line">
      <ion-col size-md="1" class="ion-align-self-center"><strong>Sr</strong></ion-col>
      <ion-col size-md="5" class="ion-align-self-center"
        ><strong>Title</strong></ion-col
      >
      <ion-col size-md="2"><strong>Category</strong></ion-col>
      <ion-col size-md="2"><strong>Date</strong></ion-col>
      <ion-col size-md="2" class="action-heading"
        ><strong>Actions</strong></ion-col
      >
    </ion-row>
    <ion-row
      *ngFor="let blog of blogList; let i = index"
      class="item-divider-line"
    >
      <ion-col size-md="1" class="ion-align-self-center">{{ i + 1 }}</ion-col>
      <ion-col size-md="5" class="ion-align-self-center"
        >{{ blog.title }}</ion-col
      >
      <ion-col size-md="2" class="ion-align-self-center"
        >{{blog.category | uppercase}}
      </ion-col>
      <ion-col size-md="2" class="ion-align-self-center"
        >{{blog.submitDate | date}}</ion-col
      >
      <ion-col size-md="2">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button
              title="Click to view blog details"
              (click)="viewBlogDetails(blog)"
              ><ion-icon slot="icon-only" name="eye-outline"></ion-icon
            ></ion-button>
            <ion-button
              (click)="deleteBlog(blogList, i, blog.id, blog.imageName)"
              ><ion-icon slot="icon-only" name="trash-outline"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
